<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamx.exsite.model.mapper.main.MainMapper">

	<select id="getAllExhibitionsEvents">
        SELECT 
            EXHIBITION_NO, 
            TITLE, 
            PLACE, 
            MAIN_IMG, 
            EX_DATE
        FROM EXHIBITION
        WHERE TO_DATE(SUBSTR(EX_DATE, 12), 'YYYY-MM-DD') >= CURRENT_DATE
    </select>

	<select id="getTop10ExhibitionsEvents">
		SELECT
			E.EXHIBITION_NO,
			E.TITLE,
			E.PLACE,
			E.MAIN_IMG,
			E.EX_DATE
		FROM EXHIBITION E
		JOIN (SELECT EXHIBITION_NO, COUNT(USER_NO) AS LIKE_COUNT
				FROM EXHIBITION_LIKE
				GROUP BY EXHIBITION_NO) L
		  ON E.EXHIBITION_NO = L.EXHIBITION_NO
		WHERE TO_DATE(SUBSTR(E.EX_DATE, 12), 'YYYY-MM-DD') >= CURRENT_DATE
		ORDER BY L.LIKE_COUNT DESC
		FETCH FIRST 10 ROWS ONLY;
	</select>
</mapper>