.mypage-view-container{
    width: 100%;
    padding: 4rem 0 10rem 0;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

.mypage-view-modify-user-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 좌측 네비게이션 섹션 */
.mypage-nav-section{
    width: 15%;
    min-width: 20rem;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mypage-nav-head-title{
    font-size: 2rem;
    font-weight: 900;
    /* border: 1px solid red; */
    text-align: center;
    margin-bottom: 4rem;
    border-bottom: 2px solid #000;
    padding: 0 0.5rem;
}

.mypage-nav-btns{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mypage-nav-btns a{
  text-decoration: none;
  font-size: 1.7rem;
  margin: 1.4rem;
  color: #000;
}

/* 우측 view 섹션 */
.mypage-view-section{
    width: 65%;
    min-width: 95rem;
    /* border: 1px solid rgb(9, 97, 17); */
    display: flex;
    justify-content: center;
}

/* 헤드타이틀 공통양식 */
.mypage-view-head-title{
    font-size: 2rem;
    font-weight: 900;
    /* border: 1px solid red; */
    text-align: center;
    margin-bottom: 4rem;
    border-bottom: 2px solid #000;
    padding: 0 0.5rem;
}

/* 테이블 공통양식 */
table {
  width: 80%;
  border-collapse: collapse;
  text-align: center;
  border: none;
}

thead {
  background-color: #EDF8F8;
  font-weight: bold;
  font-size: 1.4rem;
}

tbody{
  font-size: 1.2rem;
}

tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* 부트스트랩 페이지네이션 스타일 */
#page-prev{
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

#page-next{
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

#page-prev img, #page-next img{
  width: 0.4rem; /* 원하는 크기로 설정 */
  object-fit: contain; 
  object-position: center; 
}

