<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전시/행사 정보 상세 조회 페이지</title>
    
    <!-- noto sans 글씨체 다운로드 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!-- css 사용 -->
    <link rel="stylesheet" href="/css/exhibition/exhibitionDetail.css">
    
    <!-- jQuery 사용-->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	<script src="/js/exhibition/exhibitionDetail.js"></script>
	
</head>
<body>
    <div th:insert="~{common/header}"></div>
    <div class="exhibition-detail-container">
        <div class="exhibition-detail-info">
            <div class="exhibition-detail-explain">
                <div class="exhibition-detail-image">
                    <img th:src="${exhibition.mainImg}" alt="전시이미지">
                </div>
                <div class="exhibition-like-button" id="exhibition-like-button">
                    <button class="exhibition-heart" id="exhibition-heart">
                        <svg width="3rem" height="3rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" fill="none" stroke="red" stroke-width="2" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="detail-info">
                <div class="exhibition-detail-title">
                    <div class="exhibition-detail-title1" th:text="${exhibition.title}"></div>
                </div>
                <div class="exhibition-detail-location">
                    <div class="exhibition-detail-location1">장소</div>
                    <div class="exhibition-detail-location2" th:text="${exhibition.place}"></div>
                </div>
                <div class="exhibition-detail-date">
                    <div class="exhibition-detail-date1">기간</div>
                    <div class="exhibition-detail-date2" th:text="${exhibition.exDate}"></div>
                </div>
                <div class="exhibition-detail-price">
                    <div class="exhibition-detail-price1">가격</div>                
                    <div class="exhibition-detail-price2" th:text="${exhibition.useFee}"></div>
                </div>
                <div class="reservation-info">
                    <div class="reservation-info1">예매하기 버튼을 누르고 <br> 날짜를 선택하세요.</div>
                </div>
                <div class="reservation-button">
                    <button class="reservation-button1">예매하기</button>
                </div>
            </div>
        </div>
        <div class="exhibition-detail-page">
            <div class="exhibition-detail-navigation">
                <button id="exhibition-details-button">상세 정보</button>
                <button id="exhibition-reviews-button">구매자 리뷰</button>
            </div>
            <div class="exhibition-detail-content" id="detail-content">
                <div id="exhibition-details" class="content-section">
                    <div class="details-container" th:each="imgUrl : ${detailImgUrlList}">
					    <img th:src="${imgUrl}" alt="이미지 상세" class="exhibition-detail-explain-image">
					</div>
                </div>
                <div id="exhibition-reviews" class="content-section">
                     <button id="write-review" onclick="window.location.href='/review'">리뷰 작성하기</button>
            <div class="review-content-area">
                <div id="exhibition-reviews" class="content-section">
                   <button id="write-review" onclick="window.location.href='/review'">
						리뷰 작성하기</button>
					<div class="review-content-area">
						<div class="review-header">
							<span id="client-info">user</span> <span>|</span> <span
								id="date-info">날짜</span>
						</div>
						<p id="review-title">리뷰 제목</p>
						<div class="text" id="review-content">친구는 세월의 도둑이다. 봄부터 흐르는
							물은 겨울이 되어도 얼지 않듯이 마음에서 우러나오는 우적은 역경이 닥친다고 해서 식지 않는다. 불행했을 때 만난
							친구는 가장 소중히 여겨야 한다. 행복했을 때 함께 기쁨을 누리는 친구보다 힘들 떄 슬픔을 덜어지는 친구를 더 많이
							신뢰할 수 있다. 부유했을 때는 친구를 사귀기 쉽지만, 어려울 때는 눈을 씻고 찾아봐도 친구를 찾기 어렵다. 누군가
							진정한 우정을 나누고 있다 할지라도 그 우정을 지키려면 오랜 시간이 걸린다. 짧은 시간 안에 많은 친구를 얻기란
							불가능하다. 왜냐하면 그들은 진정한 친구가 아니기 때문이다. 친구란 말하자면 또 하나의 자신이다. 친구를 보면 그
							사람을 알 수 있다. 현명한 사람과 어리석은 사람은 서로 어울리지 않는다. 친구는 나를 동정하는 자가 아니라 나를
							돕는 자다. 서로가 고통을 덜어 주지 않는다면 우리는 무엇을 위해 사는 것일까?</div>
						<br>
						<button class="review-buttons" id="more">더보기</button>
					</div>
					<div class="review-action-buttons">
						<button class="review-buttons" id="replace"
							onclick="window.location.href='/replaceReview'">수정</button>
						<button class="review-buttons" id="delete">삭제</button>
					</div>
                </div> 
                </div>
            </div>
        </div>
    </div>
        <!-- 자바스크립트 -->
        <!-- 티켓팅 팝업 여는 스크립트 -->
        <script src="/js/ticketing/openTicketingPopup.js"></script>
        <div th:insert="~{common/footer}"></div>
        
        
</body>
</html>