    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="UTF-8">
        <title>오류페이지</title>
      <link rel="stylesheet" href="\TeamX\exsite\src\main\resources\static\css\common\errorPage.css">
    </head>

    <body>
        <div id="error-message">
            <div class="image">
                <img src="\TeamX\exsite\src\main\resources\static\img\common\exsite-logo.png" id="title-logo" alt="">
                <img src="\TeamX\exsite\src\main\resources\static\img\common\warning.png" id="warning-logo" alt="">
            </div>
            <div class="comments">
                <p id="message1">잘못된 접근입니다. 다시 시도해 주세요.</p>
                <p id="message2">요청하신 페이지를 찾을 수 없습니다. <br>
                    입력하신 페이지의 주소와 경로가 정확한지 확인 후 이용 부탁드립니다.
                </p>
            </div>
            <div class="home-button">
                <button id="go-to-Home">홈</button>
            </div>
        </div>
       
    </body>

    </html>