<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>FOOTER</title>

<!-- 웹폰트 적용-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<!-- bootstrap CDN -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="/css/common/footer.css">
</head>
<body>
<div class="footer-area">
	<div class="footer-info-area">
	    <p><b>TeamX</b></p>
	    <p>1544-9970</p>
	    <p>teamx.kh.com</p>
	    <p>서울특별시 강남구 테헤란로10길 9 그랑프리 빌딩 7F</p>
	</div>
	
	<div class="footer-nav-area">
		<div class="footer-nav-text">
			<span id="termsText">이용약관</span>
			<span id="privacyText"> | 개인정보처리방침</span>
			<a href="/customer/service" id="customer-center"> | 고객센터</a>
		</div>
	
	    <!-- 이용약관 모달 -->
	    <div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
	        <div class="modal-dialog modal-dialog-scrollable" id="termsModalWidth">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h5 class="modal-title" id="termsModalLabel">이용약관</h5>
	                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	                </div>
	                <div class="modal-body">
						<p th:insert="~{common/terms}">
						</p>
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
	                </div>
	            </div>
	        </div>
	    </div>
	
	    <!-- 개인정보처리방침 모달-->
	    <div class="modal fade" id="privacyModal" tabindex="-1" aria-labelledby="privacyModalLabel" aria-hidden="true">
	        <div class="modal-dialog modal-dialog-scrollable" id="privacyModalWidth">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h5 class="modal-title" id="privacyModalLabel">개인정보처리방침</h5>
	                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	                </div>
	                <div class="modal-body" id="privacyPolicyModal">
	                    <p th:insert="~{common/privacyPolicy}">
						</p>
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
	                </div>
	            </div>
	        </div>
	    </div>
	
	
	</div>
</div>


<!-- Bootstrap JS and dependencies -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

<script src="/js/common/footer.js"></script>

</body>
</html>