<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MAIN</title>

<link rel="stylesheet" href="/css/common/main.css">

<!-- 웹폰트 적용 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- 슬라이드 라이브러리 -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</head>
<body>
	<div th:insert="~{common/header}"></div>
	<div class="mainpage">

		<!-- 슬라이드 섹션 -->
		<div class="slide-section">
			<div class="swiper slide-container">
				<!-- 슬라이드 아이템이 들어갈 div -->
				<div class="swiper-wrapper">
					
				</div>
				<!-- 네비게이션 버튼 -->
				<div class="swiper-button-next" id="next-button"></div>
				<div class="swiper-button-prev" id="prev-button"></div>
			</div>
		</div>
	
		<!-- TOP10 섹션 -->
		<div class="top10-section">
			<div class="top10-textarea">
				<p>BEST</p>
				<span>전시 / 행사 </span><span class="main-textcolor-0B9B9B">TOP 10</span>
			</div>
			<!-- top10 아이템이 들어갈 div -->
			<div class="top10-info-area">
				
			</div>
		</div>
	
		 <!-- EX-MAP 소개 섹션 -->
		<div class="intro-exmap-section">
			<div class="intro-exmap-container">
				<div class="intro-exmap-top-area">
					<div class="intro-exmap-textarea">
							<p> 핫한 전시 스팟을</p>
							<p class="main-textcolor-0B9B9B"> 한눈에</p>
							<span id="text-background-color">지도로</span><span> 확인하세요!</span>
					</div>
					<div class="intro-exmap-img-marker">
						<img id="exmap-marker-image" src="/img/main/exmap-marker-image.png" alt="마커이미지">
					</div>
				</div>
				<div class="intro-exmap-bottom-area">
					<img id="exmap-example" src="/img/main/exmap-example-image.png" alt="지도예시이미지">
				</div>
			</div>
		</div>
	
		<!-- 커뮤니티 소개 섹션 -->
		<div class="intro-community-section">
			<div class="intro-community-container">
				<div class="intro-community-top-area">
					<div class="intro-community-textarea">
						<span>전시 / 행사 </span><span class="main-textcolor-0B9B9B">전용 커뮤니티</span>
						<p >동행 구인부터</p>
						<span>정보 공유까지</span><span class="main-textcolor-0B9B9B">.</span>
					</div>
					<div class="intro-community-img">
						<img id="intro-community-img" src="/img/main/community-image.png" alt="커뮤니티이미지">
					</div>
				</div>
				<div class="community-bottom-area">
					<img id="community-example" src="/img/main/community-example-image.png" alt="커뮤니티예시이미지">
				</div>
			</div>
		</div>
	
		<!-- 포워딩 페이지 섹션 -->
		<div class="intro-fowarding-section">
			<div class="intro-fowarding-container">
				<div class="intro-forwarding-textarea">
					<p class="main-textcolor-0B9B9B">국내 최초</p>
					<p>전시 / 행사 전용</p>
					<span>예매 플랫폼 </span><span class="main-textcolor-0B9B9B">EX-SITE</span>
				</div>
				<div class="intro-forwarding-buttonarea">
						<button class="main-button" id="forwarding-exhibition-btn"><a href="/exhibition/list/search">전시 보러가기</a></button>
						<button class="main-button" id="forwarding-enroll-btn"><a href="/signup">회원가입</a></button>
				</div>
			</div>
		</div>
	</div>
    
	<div th:insert="~{common/footer}"></div>

	<script src="/js/common/main.js"></script>
</body>
</html>