<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="/css/common/searchResult.css">
</head>
<body>
	<div th:insert="~{common/header}"></div>
    <div class="search-result-section">
        <div class="search-result-textarea">
            <span class="search-keyword" th:text="'\'' + ${searchQuery} + '\''">키워드</span><span>키워드로 검색한 결과입니다.</span>
        </div>
        <div class="search-result-info-area">
            <div th:each="searchResult : ${searchResults}" class="search-result-exhibition-item">
                <a th:href="@{/exhibition/detail(id=${searchResult.exhibitionNo})}">
                    <div class="search-result-item-image-wrapper">
                        <img th:src="@{${searchResult.mainImg}}" alt="전시 썸네일" class="search-result-item-image">
                    </div>
                    <ul class="search-result-item-textarea">
                        <li class="search-result-item-title" th:text="${searchResult.title}"></li>
                        <li class="search-result-item-place" th:text="${searchResult.place}"></li>
                        <li class="search-result-item-date" th:text="${searchResult.exDate}"></li>
                    </ul>
                </a>
            </div>
        </div>
    </div>
    <div th:insert="~{common/footer}"></div>
</body>
</html>