<!DOCTYPE html>
<html lang=ko xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/review/writeReview.css">
	<script src="/lib/jQuery/jquery-3.7.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="/js/review/writeReview.js"></script>
	<title>리뷰 작성</title>
	
</head>

<body>
	<div th:insert="~{common/header}"></div>
	<div id="all-area">
		<p id="write-review-page-title">리뷰작성</p>
		<div class="festa-review">

			<!-- 행사선택 -->
			<div class="dropdown-container mt-5">
				<div class="dropdown" id="dropdown-area">
					<button class="btn custom-dropdown-toggle dropdown-toggle" type="button" id="festa-title"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							행사 제목
					</button>
					<div class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownMenuButton">
							<!-- Thymeleaf로 데이터 출력 -->
							<a class="dropdown-item" th:each="content : ${viewdContent}" 
									th:text="${content.name}" 
									th:attr="data-merchant-uid=${content.merchantUid},data-exhibition-no=${content.exhibitionNo}">
							</a>
					</div>
				</div>
				<form action="#">
				<div class="review-title">
					<input type="text" name="reviewTitle" id="review-title" placeholder="리뷰 제목">
				</div>
				<div class="festa-review">
					<textarea name="reviewContent" id="review-content" rows="2" cols="20" wrap="hard" placeholder="리뷰 내용"></textarea>
				</div>
				<div class="btn-area">
					<button type="button" class="review-button" id="resist">등록</button>
					<button type="button" class="review-button" id="cancel"
					 onclick="history.back();">취소</button>
				</div>
			</form>
			</div>
		</div>
	</div>
	<div th:insert="~{common/footer}"></div>
</body>

</html>