<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>EX-SITE</title>

<link rel="stylesheet" href="/css/mypage/mypageView.css">
<script src="/lib/jQuery/jquery-3.7.1.min.js"></script>
</head>
<body>
    <div th:insert="~{common/header}"></div>

    <div class="mypage-view-container">
        <div class="mypage-nav-section">
            <div class="mypage-head-section">
                <div class="mypage-nav-head-title">마이페이지</div>
            </div>
			<div class="mypage-nav-btns">
			    <a href="/mypage/view?view=modifyUserPasswordCheck">회원 정보 수정</a>
			    <a href="/mypage/view?view=passwordChange" id="passwordChange">비밀번호 변경</a>
			    <a href="/mypage/view?view=ticketList">예매 확인/취소</a>
			    <a href="/mypage/view?view=likeList">나의 관심 목록</a>
			    <a href="/mypage/view?view=reviewList">나의 후기</a>
			    <a href="/customer/service?personalInquiery=true">1:1 문의 내역</a>
			    <a href="/mypage/view?view=withdraw">회원 탈퇴</a>
			</div>
        </div>
    
        <div class="mypage-view-section">
            <div th:if="${showModifyUserPasswordCheck}" th:insert="~{mypage/views/mypageModifyUserPasswordCheck}"></div>
            <div th:if="${showModifyUser}" th:insert="~{mypage/views/mypageModifyUser}"></div>
            <div th:if="${showPasswordChange}" th:insert="~{mypage/views/mypagePasswordChange}"></div>
            <div th:if="${showTicketList}" th:insert="~{mypage/views/mypageTicketList}"></div>
            <div th:if="${showTicketDetail}" th:insert="~{mypage/views/mypageTicketDetail}"></div>
            <div th:if="${showLikeList}" th:insert="~{mypage/views/mypageLikeList}"></div>
            <div th:if="${showReviewList}" th:insert="~{mypage/views/mypageReviewList}"></div>
            <div th:if="${showWithdraw}" th:insert="~{mypage/views/mypageWithdraw}"></div>
            
    
             
             <!-- 회원정보수정 -->
            <!-- <div th:insert="~{mypage/views/mypageModifyUserPasswordCheck}"></div>  -->
            <!-- <div th:insert="~{mypage/views/mypageModifyUser}"></div> -->

            <!-- 비밀번호변경 -->
            <!-- <div th:insert="~{mypage/views/mypagePasswordChange}"></div> -->

            <!-- 예매정보확인/취소 -->
            <!-- <div th:insert="~{mypage/views/mypageTicketList}"></div> -->
            <!-- <div th:insert="~{mypage/views/mypageTicketDetail}"></div> -->
             <!-- <div th:insert="~{mypage/views/mypageTicketPasswordCheck}"></div> -->

            <!-- 나의관심목록 -->
            <!-- <div th:insert="~{mypage/views/mypageLikeList}"></div> -->

            <!-- 나의리뷰목록 -->
            <!-- <div th:insert="~{mypage/views/mypageReviewList}"></div> -->
             
            <!-- 회원탈퇴 -->
            <!-- <div th:insert="~{mypage/views/mypageWithdraw}"></div> -->
    
             <!-- <div class="mypage-view-inquiry-list">
                <div class="mypage-head-section">
                    <div class="mypage-view-head-title">
                        1:1 문의 내역
                     </div>
                </div>
             </div> -->

        </div>
    </div>

    <div th:insert="~{common/footer}"></div>
</body>
</html>