<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>EX-SITE</title>
<link rel="stylesheet" href="/css/mypage/mypageMain.css">
</head>
<body>
    <div th:insert="~{common/header}"></div>
    <div class="mypage-container">

        <!-- 마이페이지 헤드타이틀 -->
        <div class="mypage-head-section">
            <span class="mypage-head-title">마이페이지</span>
        </div>

        <!-- 마이페이지 메인섹션 -->
        <div class="mypage-main-section">
            <div class="mypage-nav-wrapper">
                <a class="mypage-modify-user-info" href="/mypage/view?view=modifyUserPasswordCheck">
                    <p>회원 정보 수정</p>
                    <img src="/img/mypage/mypage-modify-user-info.png" alt="회원정보수정이미지">
                </a>
            </div>
            <div class="mypage-nav-wrapper">
                <a class="mypage-modify-user-info" href="/mypage/view?view=passwordChange">
                    <p>비밀번호 변경</p>
                    <img src="/img/mypage/mypage-password-change.png" alt="회원정보수정이미지">
                </a>
            </div>
            <div class="mypage-nav-wrapper">
                <a class="mypage-ticket-info" href="/mypage/view?view=ticketList">
                    <p>예매 확인/취소</p>
                    <img src="/img/mypage/mypage-ticket-info.png" alt="회원정보수정이미지">
                </a>
            </div>
            <div class="mypage-nav-wrapper">
                <a class="mypage-like-list" href="/mypage/view?view=likeList">
                    <p>나의 관심 목록</p>
                    <img src="/img/mypage/mypage-like-list.png" alt="회원정보수정이미지">
                </a>
            </div>
            <div class="mypage-nav-wrapper">
                <a class="mypage-review-list" href="/mypage/view?view=reviewList">
                    <p>나의 후기</p>
                    <img src="/img/mypage/mypage-review-list.png" alt="회원정보수정이미지">
                </a>
            </div>
            <div class="mypage-nav-wrapper">
                <a class="mypage-inquiry-list" href="/customer/service?personalInquiery=true">
                    <p>1:1 문의 내역</p>
                    <img src="/img/mypage/mypage-inquiry-list.png" alt="회원정보수정이미지">
                </a>
            </div>
            <div class="mypage-nav-wrapper">
                <a class="mypage-withdrow" href="/mypage/view?view=withdraw">
                    <p>회원 탈퇴</p>
                    <img src="/img/mypage/mypage-withdrow.png" alt="회원정보수정이미지">
                </a>
            </div>
        </div>

    </div>

    <div th:insert="~{common/footer}"></div>
</body>
</html>