<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamx.exsite.model.mapper.user.UserMapper">
  
  <insert id="registerUser">
    INSERT INTO USER_INFO (USER_NO, USER_ID, USER_PW, EMAIL, PHONE, ADDRESS, METHOD)
    	VALUES (
    		SEQ_USER_NO.NEXTVAL,
    		#{userId},
    		#{userPw},
    		#{email},
    		#{phone},
    		#{address},
    		'NORMAL'
    	)
  </insert>
  
  <select id="idCheck">
  	SELECT COUNT(*) FROM USER_INFO WHERE USER_ID = #{id}
  </select>
</mapper>