<!DOCTYPE html>
<html lang=ko xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/user/enrollForm.css">
<script src="/lib/jQuery/jquery-3.7.1.min.js"></script>
<script src="/js/enrollForm.js"></script>
<script src="/lib/bootstrap-5.3.3/js/bootstrap.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
	<div th:insert="~{common/header}"></div>
	<div id="main">
		<h5>회원가입</h5>
		<form action="/user/register" method="post">
			<div id="enroll-form">
				<table id="form-table">
					<tr>
						<td>아이디<input name="userId" id="id" type="text" maxlength="20" placeholder="6~20자 영문, 숫자" required>
							<button id="id-check" type="button" class="check-button">
								중복확인
							</button>
							<div id="id-error" class="error-message"></div>
						</td>
							
					</tr>
					<tr>
						<td>
						비밀번호<input name="userPw" id="password" type="password" maxlength="12" placeholder="8~12자 영문, 숫자, 특수문자" required>
						<div id="password-error" class="error-message"></div>
						</td>
					</tr>
					<tr>
						<td>
						비밀번호 확인<input id="check-password" type="password" maxlength="12" placeholder="8~12자 영문, 숫자, 특수문자" required>
						<div id="check-password-result" class="error-message"></div>
						</td>
					</tr>
					<tr>
						<td>이름<input name="userName" type="text" maxlength="5" required></td>
					</tr>
					<tr>
						<td>이메일<input id="email-prefix" name="email-prefix">
						<select id="email-suffix">
							<option value="@naver.com">@naver.com</option>
							<option value="@google.com">@google.com</option>
							<option value="other">기타(직접 입력)</option>
						</select>
						<input name="email" type="text" id="custom-input" required>
							<button type="button" id="authentication-email" class="check-button">인증받기</button>
						</td>
					</tr>
					<tr>
						<td>연락처<input name="phone" id="phone" maxlength="11" type="text" placeholder="01012345678" required>
							<button type="button" id="authentication-phone" class="check-button">인증받기</button></td>
					</tr>
					<tr>
						<td>주소<input name="address" id="address-input" type="text" required>
							<button type="button" id="search-address" class="check-button">검색</button></td>
					</tr>
				</table>
			</div>
			<div id="terms-and-conditions-div">
				<label>
					<input type="checkbox" id="terms-and-conditions" style="display: none;">
					<span class="custom-checkbox"></span> <span id="terms-and-condition-content">이용 약관에 동의합니다.</span>
			</label>
			</div>
			<button type="submit" id="enroll-btn">가입 완료</button>
			<div id="sosical-signup-btn-area">
				<img id="naver-signup-btn-img"
					src="img/user/naver-signup-btn-img.png" /> 
				<img id="google-signup-btn-img"
					src="img/user/google-signup-btn-img.png" />
			</div>
		</form>
	</div>
	<div th:insert="~{common/footer}"></div>
</body>
</html>