<!DOCTYPE html>
<html lang=ko xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/user/findPasswordFirstForm.css">
</head>
<body>
  <div th:insert="~{common/header}"></div>
  <div id="main">
    <img id="ex-site-logo" src="/img/common/ex-site-logo.png" alt="ex-site-logo">
    <sapn id="title"> <h5> 비밀번호 찾기 </h5> </sapn>
    <small>비밀번호를 찾고자 하는 아이디를 입력해주세요.</small>
      <form id="submit-id">
        <input type="text" id="id-input" maxlength="20">
        <div id="id-error" class="error-message">일치하는 아이디가 없습니다. 다시 입력해주세요.</div>
        <div id="button-area">
          <button id="find-id-btn">아이디 찾기</button>
          <button id="next-btn">다음</button>
        </div>    
      </form>
  </div>
  <div th:insert="~{common/footer}"></div>
</body>
</html>