<!DOCTYPE html>
<html lang=ko xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/user/findIdResultForm.css">
</head>
<body>
  <div th:insert="~{common/header}"></div>
  <div id="main">
    <img id="ex-site-logo" src="/img/common/ex-site-logo.png" alt="ex-site-logo">
    <sapn id="title"> <h5> 아이디 찾기 </h5> </sapn>
    <small>고객님의 정보와 일치하는 아이디 목록입니다.</small>
      <form>
        <div id="select-id">
          <div>
              <input type="radio" name="option" class="custom-radio">
              <label class="radio-container"> user1</label>
          </div>
          <div>
              <input type="radio" name="option" class="custom-radio">
              <label class="radio-container">user2</label>
          </div>
        </div>
        
        <div id="button-area">
          <button id="login-btn">로그인</button>
          <button id="reset-password-btn">비밀번호 재설정</button>
        </div>    
      </form>
  </div>
  <div th:insert="~{common/footer}"></div>
</body>
</html>