<!DOCTYPE html>
<html lang=ko xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/user/findPasswordSecondForm.css">
<script src="/lib/jQuery/jquery-3.7.1.min.js"></script>
<script src="/js/user/findPasswordSecondForm.js"></script>
</head>
<body>
  <div th:insert="~{common/header}"></div>
  <div id="find-password-form-main">
    <sapn id="title"> <h5> 비밀번호 찾기 </h5> </sapn>
    <div id="sub-section">
      <div class="sub"> 
        <form action="#" method="post">
          <div class="sub-inner">
            <span class="title-authentication">휴대폰 번호로 찾기</span>
            <small>회원가입 시 입력한 휴대폰 번호와 일치할 경우 인증 번호가 발송됩니다.</small>
            <input id="phone-submit-name" name="name" type="text" maxlength="5" placeholder="이름">
            <input id="submit-phone" name="phone" type="text" maxlength="11" placeholder="휴대폰 번호(-없이 입력)">
            <input id="change-with-phone-userId" name="userId" type="hidden" th:value="${userId}">
            <button id="submit-phone-btn" class="submit-authentication-info" type="button">인증번호 받기</button>
          </div>
        </form>
      </div>
      <div class="sub">
        <form action="#" method="post">
          <div class="sub-inner">
            <span class="title-authentication">이메일로 찾기</span>
            <small>회원가입 시 이메일 주소와 일치할 경우 인증 번호가 발송됩니다.</small>
            <input id="email-submit-name" name="name" type="text" maxlength="5" placeholder="이름">
            <input id="submit-email" name="email" type="email" maxlength="40" placeholder="이메일 주소">
            <input id="change-with-email-userId" name="userId" type="hidden" th:value="${userId}">
            <button id="submit-email-btn" class="submit-authentication-info" type="button">인증번호 받기</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div th:insert="~{common/footer}"></div>
</body>
</html>