<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/user/resetPasswordForm.css">
<script src="/lib/jQuery/jquery-3.7.1.min.js"></script>
<script src="/js/resetPasswordForm.js"></script>
</head>
<body>
  <div id="main">
    <img id="ex-site-logo" src="/img/common/ex-site-logo.png" alt="ex-site-logo">
    <sapn id="title"> <h5> 비밀번호 재설정 </h5> </sapn>
      <form id="submit-id">
        <input id="password" type="password" class="reset-password-input" maxlength="12" placeholder="새 비밀번호(8~12자 영문, 숫자, 특수문자)">
        <div id="password-error" class="error-message"></div>
        <input id="check-password" type="password" class="reset-password-input" maxlength="12" placeholder="비밀번호 확인">
        <div id="check-password-result" class="error-message"></div>
        <div id="button-area">
          <button id="submit-reset-password">확인</button>
        </div>    
      </form>
  </div>
</body>
</html>