<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터 페이지</title>
    
    <!-- noto sans 글씨체 다운로드 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!-- css 사용 -->
    <link rel="stylesheet" href="/css/customercenter/customerService.css">
    
    <!-- 자바스크립트 -->
    <script src="/js/customercenter/customerService.js"></script>
    
    <!-- jQuery 사용-->
	<script src="/lib/jQuery/jquery-3.7.1.min.js"></script>
	
</head>
<body>
    <input id="userId" type="hidden" th:value="${loginUser != null ? loginUser.userNo : ''}">
	<div th:insert="~{common/header}"></div>
    <div class="customer-service-container">
        <div class="customer-service">고객센터</div>
    </div>
    <div class="inquiry">
        <button id="faq-button">FAQ</button>
        <button id="contact-button">1:1문의</button>
    </div>
    <div class="faq-section" id="faq-section">
        <div class="faq-item" id="faq-item">
            <div class="faq-question">Q. 예매를 취소하고 싶어요 어떻게 해야 하나요? 
                <div class="faq-answer">A. 마이페이지에서 예매 확인/취소 내역에서 예매 번호로 티켓을 선택한 후 상세 페이지에서 티켓 취소를 진행해 주세요. </div>
            </div>
        </div>
        <div class="faq-item" id="faq-item">
            <div class="faq-question">Q. 예매를 취소하고 싶어요 어떻게 해야 하나요? 
                <div class="faq-answer">A. 마이페이지에서 예매 확인/취소 내역에서 예매 번호로 티켓을 선택한 후 상세 페이지에서 티켓 취소를 진행해 주세요. </div>
            </div>
        </div>
        <div class="faq-item" id="faq-item">
            <div class="faq-question">Q. 예매를 취소하고 싶어요 어떻게 해야 하나요? 
                <div class="faq-answer">A. 마이페이지에서 예매 확인/취소 내역에서 예매 번호로 티켓을 선택한 후 상세 페이지에서 티켓 취소를 진행해 주세요. </div>
            </div>
        </div>
    </div>
    <div class="contact-section" id="contact-section">
        <table class="contact-section-table">
            <thead>
                <tr class="contact-section-tr">
                    <th class="contact-section-title">문의 제목</th>
                    <th class="contact-section-title">작성일</th>
                    <th class="contact-section-title">답변여부</th>
                </tr>
            </thead>
            <tbody>
                <tr class="inquiry-row" th:each="inquiry : ${inquiries}">
                    <td class="inquiry-title"><a th:href="@{/customer/answer(inquiryNo=${inquiry.inquiryNo})}" th:text="${inquiry.inquiryTitle}"></a></td>
                    <td class="inquiry-date" th:text="${#dates.format(inquiry.inquiryDate, 'yyyy.MM.dd')}"></td>
                    <td class="inquiry-answer" th:text="${inquiry.inquiryResponse}"></td>
                </tr>
            </tbody>
        </table>
        <div class="inquiry-button">
        	<a th:href="@{/customer/inquiry}">
            	<button id="inquiry-button">문의하기</button>
            </a>
        </div>
    </div>
    <div th:insert="~{common/footer}"></div>
</body>
</html>