<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의 상세 조회</title>
    
    <!-- noto sans 글씨체 다운로드 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!-- css 사용 -->
    <link rel="stylesheet" href="/css/customercenter/inquiryAnswer.css">
    
    <!-- 자바스크립트 -->
    <script src="/js/customercenter/inquiryAnswer.js"></script>
    
    <!-- jQuery 사용-->
	<script src="/lib/jQuery/jquery-3.7.1.min.js"></script>
    
</head>
<body>
    <div th:insert="~{common/header}"></div>
    <div class="question-container">
        <div class="question-section">1:1 문의</div>
        <div class="question-info">전시/행사 상세 관련 사항은 주관사로 문의해 주세요.</div>
        <div class="question">
            <div class="question-title">문의 제목</div>
            <div class="question-title-content" th:text="${inquiry.inquiryTitle}"></div>
        </div>
        <div class="question-content">
            <div class="question-content-title">문의 내용</div>
            <div class="question-content-description" th:text="${inquiry.inquiryContent}"></div>
        </div>
        <div class="answer-section">
            <div class="answer-title">답변 내용</div>
            <div class="answer-content" th:text="${inquiry.responseContent}"></div>
        </div>
        <div class="answer-buttons">
            <!--  <a href="/customer/service"> -->
            	<button class="list-button" onclick="window.history.back();">목록</button>
            <!-- </a> -->
            <button class="delete-button" th:onclick="confirmDelete([[${inquiry.inquiryNo}]])">삭제</button>
        </div>
    </div>
    <div th:insert="~{common/footer}"></div>
</body>
</html>