<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의하기 페이지</title>
    
    <!-- noto sans 글씨체 다운로드 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!-- css 사용 -->
    <link rel="stylesheet" href="/css/customercenter/inquiry.css">
    
</head>
<body>
    <div th:insert="~{common/header}"></div>
    <div class="support-container">
        <div class="support">1:1 문의하기</div>
        <form th:action="@{/customer/inquiry/create}" method="post" id="inquiry-form">
            <div class="support-group">
                <label for="subject" class="support-label-title">문의 제목<span class="support-star">*</span></label>
                <textarea id="subject" name="inquiryTitle" rows="1" class="subject-content" required></textarea>
                <label for="content" class="support-label-title2">문의 내용<span class="support-star">*</span></label>
                <textarea id="content" name="inquiryContent" rows="10" placeholder="문의 내용을 입력하세요." class="subject-content" required></textarea>
            </div>
            <div class="support-buttons">
                <button type="submit" id="submit-button">등록</button>
                <button type="button" id="cancel-button" onclick="window.history.back();">취소</button>
            </div>
        </form>
    </div>
    <div th:insert="~{common/footer}"></div>
</body>
</html>