
#exhibition-reviews {
	width: 80rem;
	margin: auto;
}
#exhibition-reviews #review {
	display: flex;
}

#exhibition-reviews #client-review {
	margin-left: 3.2rem;
	color: #0B9B9B;
	font-weight: bold;
}



#exhibition-reviews #write-review {
	border: 0.16rem solid #EDF8F8;
	width: 12rem;
	height: 3rem;
	border-radius: 1.5rem;
	background-color: #EDF8F8;
	margin-top: 3rem;
	font-size: 1.4rem;
	font-weight: bold;
}

#exhibition-reviews .review-content-area {
	border: 0.16rem solid #9DD7D7;
	border-radius: 1.5rem;
	padding: 0.96rem;
	margin-top: 1.5rem;
	background-color: #ffffff;
}

#exhibition-reviews .review-header {
	opacity: 0.5;
	padding-left: 1rem;
}

#exhibition-reviews .review-title {
	font-size: 1.4rem;
	font-weight: bold;
	padding-left: 1rem;
	margin-top: 1rem;
}

#exhibition-reviews .review-content {
	padding-left: 1.5rem;
	font-size: 1.2rem;
}

#exhibition-reviews .review-action-buttons {
	display: flex;
	justify-content: flex-end;
	gap: 0.96rem;
	border-color: #9DD7D7;
	border-radius: 1.5rem;
}

#exhibition-reviews .more {
	display: block;
	margin: auto;
	background-color: #ffffff;
	border-style: solid;
	border-color: #9DD7D7;
	border-radius: 1.5rem;
	width: 5.8rem;
	height: 2.8rem;
}

#exhibition-reviews .review-buttons {
	margin-top: 1rem;
	font-weight: bold;
	border-radius: 1.5rem;
	width: 6rem;
	height: 2.8rem;
	font-size: 1.3rem;
}

#exhibition-reviews .replace {
	border-style: solid;
	border-color: #0B9B9B;
	background-color: #0B9B9B;
	color: #ffffff;
}

#exhibition-reviews .delete {
	border-style: solid;
	border-color: #000000;
	border-width: 0.06rem;
	background-color: #ffffff;
}

#exhibition-reviews .text {
	overflow: hidden;
	display: block;
	max-height: 1.2em;
	transition: max-height 0.3s ease;
}

#exhibition-reviews .text.expanded {
	max-height: none;
}

#none-review-message {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10rem 0;
	height: 20rem;
	font-size: 5rem;
	color: lightblue;
}