<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamx.exsite.model.mapper.exhibition.ExhibitionMapper">

	<select id="getAllExhibitions" resultType="com.teamx.exsite.model.exhibition.vo.ExhibitionEvent">
        SELECT 
            EXHIBITION_NO, 
            TITLE, 
            PLACE, 
            MAIN_IMG, 
            EX_DATE, 
            CODENAME, 
            IS_FREE 
        FROM EXHIBITION
        WHERE CODENAME = '전시/미술' AND TO_DATE(SUBSTR(EX_DATE, 12), 'YYYY-MM-DD') >= CURRENT_DATE
    </select>
    
     <select id="getExhibitionsSortedByEndDate" resultType="com.teamx.exsite.model.exhibition.vo.ExhibitionEvent">
        SELECT 
            EXHIBITION_NO, 
            TITLE, 
            PLACE, 
            MAIN_IMG, 
            EX_DATE, 
            CODENAME, 
            IS_FREE 
        FROM EXHIBITION
        WHERE CODENAME = '전시/미술' AND TO_DATE(SUBSTR(EX_DATE, 12), 'YYYY-MM-DD') >= CURRENT_DATE
        ORDER BY TO_DATE(SUBSTR(EX_DATE, 12), 'YYYY-MM-DD') ASC
    </select>

    <select id="getExhibitionsSortedByReviews" resultType="com.teamx.exsite.model.exhibition.vo.ExhibitionEvent">
        SELECT 
		    A.EXHIBITION_NO, 
		    A.TITLE, 
		    A.PLACE, 
		    A.MAIN_IMG, 
		    A.EX_DATE, 
		    A.CODENAME, 
		    A.IS_FREE
		FROM EXHIBITION A
		    JOIN TICKETING B ON (A.EXHIBITION_NO = B.EXHIBITION_NO)
		    JOIN REVIEW C ON (B.TICKET_NO = C.TICKET_NO)
		WHERE CODENAME = '전시/미술' AND TO_DATE(SUBSTR(EX_DATE, 12), 'YYYY-MM-DD') >= CURRENT_DATE
		GROUP BY A.EXHIBITION_NO, A.TITLE, A.PLACE, A.MAIN_IMG, A.EX_DATE, A.CODENAME, A.IS_FREE
		ORDER BY COUNT(C.TICKET_NO) DESC
    </select>

    <select id="getFreeExhibitions" resultType="com.teamx.exsite.model.exhibition.vo.ExhibitionEvent">
        SELECT 
            EXHIBITION_NO, 
            TITLE, 
            PLACE, 
            MAIN_IMG, 
            EX_DATE, 
            CODENAME, 
            IS_FREE 
        FROM EXHIBITION
        WHERE CODENAME = '전시/미술' AND IS_FREE = '무료' AND TO_DATE(SUBSTR(EX_DATE, 12), 'YYYY-MM-DD') >= CURRENT_DATE
    </select>

    <select id="getPaidExhibitions" resultType="com.teamx.exsite.model.exhibition.vo.ExhibitionEvent">
        SELECT 
            EXHIBITION_NO, 
            TITLE, 
            PLACE, 
            MAIN_IMG, 
            EX_DATE, 
            CODENAME, 
            IS_FREE 
        FROM EXHIBITION
        WHERE CODENAME = '전시/미술' AND IS_FREE = '유료' AND TO_DATE(SUBSTR(EX_DATE, 12), 'YYYY-MM-DD') >= CURRENT_DATE
    </select>
    
    <select id="getExhibitionById" parameterType="int" resultType="com.teamx.exsite.model.exhibition.vo.ExhibitionEvent">
   		SELECT * FROM exhibition
		    JOIN EXHIBITION_DETAIL USING (EXHIBITION_NO)
		WHERE exhibition_no = #{exhibitionNo}
	</select>
    
    <select id="getAllEvents" resultType="com.teamx.exsite.model.exhibition.vo.ExhibitionEvent">
        SELECT 
            EXHIBITION_NO, 
            TITLE, 
            PLACE, 
            MAIN_IMG, 
            EX_DATE, 
            CODENAME, 
            IS_FREE 
        FROM EXHIBITION
        WHERE CODENAME LIKE '축제%' AND TO_DATE(SUBSTR(EX_DATE, 12), 'YYYY-MM-DD') >= CURRENT_DATE
    </select>
    
     <select id="getEventsSortedByEndDate" resultType="com.teamx.exsite.model.exhibition.vo.ExhibitionEvent">
        SELECT 
            EXHIBITION_NO, 
            TITLE, 
            PLACE, 
            MAIN_IMG, 
            EX_DATE, 
            CODENAME, 
            IS_FREE 
        FROM EXHIBITION
        WHERE CODENAME LIKE '축제%' AND TO_DATE(SUBSTR(EX_DATE, 12), 'YYYY-MM-DD') >= CURRENT_DATE
        ORDER BY TO_DATE(SUBSTR(EX_DATE, 12), 'YYYY-MM-DD') ASC
    </select>

    <select id="getEventsSortedByReviews" resultType="com.teamx.exsite.model.exhibition.vo.ExhibitionEvent">
        SELECT 
		    A.EXHIBITION_NO, 
		    A.TITLE, 
		    A.PLACE, 
		    A.MAIN_IMG, 
		    A.EX_DATE, 
		    A.CODENAME, 
		    A.IS_FREE
		FROM EXHIBITION A
		    JOIN TICKETING B ON (A.EXHIBITION_NO = B.EXHIBITION_NO)
		    JOIN REVIEW C ON (B.TICKET_NO = C.TICKET_NO)
		WHERE CODENAME  LIKE '축제%' AND TO_DATE(SUBSTR(EX_DATE, 12), 'YYYY-MM-DD') >= CURRENT_DATE
		GROUP BY A.EXHIBITION_NO, A.TITLE, A.PLACE, A.MAIN_IMG, A.EX_DATE, A.CODENAME, A.IS_FREE
		ORDER BY COUNT(C.TICKET_NO) DESC
    </select>

    <select id="getFreeEvents" resultType="com.teamx.exsite.model.exhibition.vo.ExhibitionEvent">
        SELECT 
            EXHIBITION_NO, 
            TITLE, 
            PLACE, 
            MAIN_IMG, 
            EX_DATE, 
            CODENAME, 
            IS_FREE 
        FROM EXHIBITION
        WHERE CODENAME LIKE '축제%' AND IS_FREE = '무료' AND TO_DATE(SUBSTR(EX_DATE, 12), 'YYYY-MM-DD') >= CURRENT_DATE
    </select>

    <select id="getPaidEvents" resultType="com.teamx.exsite.model.exhibition.vo.ExhibitionEvent">
        SELECT 
            EXHIBITION_NO, 
            TITLE, 
            PLACE, 
            MAIN_IMG, 
            EX_DATE, 
            CODENAME, 
            IS_FREE 
        FROM EXHIBITION
        WHERE CODENAME LIKE '축제%' AND IS_FREE = '유료' AND TO_DATE(SUBSTR(EX_DATE, 12), 'YYYY-MM-DD') >= CURRENT_DATE
    </select>
    
    <insert id="insertLike" parameterType="map">
	    INSERT INTO EXHIBITION_LIKE (USER_NO, EXHIBITION_NO) 
	    VALUES (#{userNo}, #{exhibitionNo})
	</insert>
	
	<delete id="deleteLike" parameterType="map">
	    DELETE FROM EXHIBITION_LIKE 
	    WHERE USER_NO = #{userNo} AND EXHIBITION_NO = #{exhibitionNo}
	</delete>
	
	<select id="checkLike">
		SELECT COUNT(*)
		FROM EXHIBITION_LIKE
		WHERE USER_NO = #{userNo} AND EXHIBITION_NO = #{exhibitionNo}
	</select>
	
	<select id="selectLikeList">
		SELECT A.EXHIBITION_NO, A.TITLE, A.PLACE, A.MAIN_IMG, A.EX_DATE
		FROM EXHIBITION A
			JOIN EXHIBITION_LIKE B ON A.EXHIBITION_NO = B.EXHIBITION_NO
		WHERE B.USER_NO = #{userNo}
	</select>
	
</mapper>