@charset "UTF-8";

        html {
            font-size: 62.5%;
            font-family: "Noto Sans", sans-serif;
        }

        body {
            width: 100vw;
            margin: 0;
        }

        .exhibition-detail-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10rem;
            /* border: 1rem solid black; */
        }

        .exhibition-detail-info {
            display: flex;
            flex-wrap: wrap;
            margin-top: 10rem;
            width: 70%;
            /* border: 1rem solid yellow; */
        }

        .exhibition-detail-explain {
            flex: 4;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* border: 1rem solid blue; */
        }

        .exhibition-detail-image {
            display: flex;
            justify-content: center;
            align-items: center;
            /* border: 0.5rem solid green;  */
            width: 55%;
            height: auto;
        }

        .exhibition-detail-container .exhibition-detail-image img {
            width: 100%; 
            height: auto; 
            object-fit: contain;
        }

        .exhibition-like-button {
            margin-top: 1rem; 
            border: 0.1rem solid #9DD7D7;
            border-radius: 1.5rem;
            padding: 0.3rem 1.5rem; 
            cursor: pointer;
            display: flex;
            align-self: flex-end;
            margin-right: 12rem;
        }

        .exhibition-heart {
            background: none;
            border: none;
            padding: 0;
            cursor: pointer; 
        }

        .detail-info {
            flex: 6;
            /* border: 0.3rem solid red; */
        }

        .exhibition-detail-title {
            font-size: 2rem;
            border-bottom: 0.2rem solid black;
            font-weight: bolder;
            padding-bottom: 1rem;
            margin-right: 11rem;
        }

        .exhibition-detail-location, .exhibition-detail-date, .exhibition-detail-price {
            display: flex;
            flex-wrap: wrap;
        }

        .exhibition-detail-location1{
            font-size: 1.5rem;
            font-weight: bolder;
            border: 0.1rem solid #9DD7D7;
            border-radius: 2rem;
            margin-top: 4rem;
            margin-left: 4rem;
            padding: 0.3rem 1rem;
        }

        .exhibition-detail-location2{
            font-size: 1.5rem;
            margin-top: 4rem;
            margin-left: 5rem;           
        }

        .exhibition-detail-date1{
            font-size: 1.5rem;
            font-weight: bolder;
            border: 0.1rem solid #9DD7D7;
            border-radius: 2rem;
            margin-top: 2rem;
            margin-left: 4rem;
            padding: 0.3rem 1rem;
        }

        .exhibition-detail-date2{
            font-size: 1.5rem;
            margin-top: 2rem;
            margin-left: 5rem; 
        }

        .exhibition-detail-price1{
            font-size: 1.5rem;
            font-weight: bolder;
            border: 0.1rem solid #9DD7D7;
            border-radius: 2rem;
            margin-top: 2rem;
            margin-left: 4rem;
            padding: 0.3rem 1rem;
        }

        .exhibition-detail-price2{
            font-size: 1.5rem;
            margin-top: 2rem;
            margin-left: 5rem;
        }

        .reservation-info {
            display: flex; 
            justify-content: center; 
            align-items: center;
            padding-bottom: 0rem; 
        }

        .reservation-info1 {
            border: 0.2rem solid #9DD7D7;
            border-radius: 2rem;
            font-size: 1.4rem;
            max-width: 38rem;
            width: 100%;
            padding: 1rem 3rem;
            text-align: center;
            margin-top: 4rem;
        }

        .reservation-button {
            display: flex; 
            justify-content: center; 
            align-items: center;
        }

        .reservation-button1 {
            background-color: #0B9B9B;
            border: 0.1rem solid #0B9B9B;
            border-radius: 2rem;
            width: 100%;
            max-width: 38rem;
            font-size: 2rem;
            font-weight: bold;
            color: white;
            padding: 1rem 3rem;
            text-align: center;
            margin-top: 2rem;
            cursor: pointer;
        }

        .exhibition-detail-page {
            border-top: 0.2rem solid black;
            margin-top: 1rem;
            width: 58%;
            /* border: 1rem solid green; */
        }

        #exhibition-details-button {
            border: none;
            color: black;
            background-color: white;
            font-size: 2rem;
            font-weight: bolder;
            margin-top: 2rem;
            margin-bottom: 2rem;
            cursor: pointer;
        }

        #exhibition-reviews-button {
            border: none;
            color: black;
            background-color: white;
            font-size: 2rem;
            font-weight: bolder;
            margin-top: 2rem;
            margin-bottom: 2rem;
            margin-left: 6rem;
            cursor: pointer;
        }
    
        .content-section {
            display: none; 
        }

        #exhibition-details {
            display: block;
        }

        .details-container {
            display: flex; 
            justify-content: center; 
            align-items: center; 
            height: 100%;
            margin-top: 3rem;
            /* border: 0.1rem solid pink;  */
        }
        
        .exhibition-detail-explain-image {
        	max-width : 70rem;
        }

        .review-write {
            border: 0.1rem solid pink;
            margin: 3rem;
        }

        .review-write-button {
            border: none;
            border-radius: 2rem;
            background-color: #EDF8F8;
            font-size: 1.4rem;
            font-weight: bolder;
            padding: 1rem 1rem;
            cursor: pointer;
        }
        
        .review-post {
            border: 0.2rem solid #9DD7D7;
            margin-top: 3rem;
            border-radius: 2rem;
            padding: 2rem 3rem;
        }

        .review-post-info {
            font-size: 1.2rem;
            color: #C9C0C0;
            display: flex;
            border: 0.1rem solid blue;
            padding: 0.5rem 0.5rem 2rem 0.5rem;
        }

        .review-post-user {
            padding-right: 1rem;
        }

        .review-post-date {
            padding-left: 1rem;
        }

        .review-post-title {
            padding: 0.5rem;
            font-size: 1.4rem;
            font-weight: bolder;
        }

        .review-post-content {
            padding: 0.5rem;
            font-size: 1.2rem;
        }

        .review-post-see {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .review-see-more {
            border: 0.1rem solid #9DD7D7;
            border-radius: 2rem;
            width: 7rem;
            background-color: white;
            cursor: pointer;
        }

        .review-button {
            display: flex;
            justify-content: end;
            align-items: end;
        }

        .review-correct {
            background-color: #0B9B9B;
            border: none;
            border-radius: 2rem;
            padding: 0.5rem 1rem;
            margin: 1rem;
            color: white;
            font-size: 1.2rem;
        }

        .review-delete {
            border: 0.1rem solid black;
            border-radius: 2rem;
            background-color: white;
            padding: 0.5rem 1rem;
            margin: 1rem;
            color: black;
            font-size: 1.2rem;
        }