@charset "UTF-8";

        html, body {
		    margin: 0;
		    padding: 0;
		    box-sizing: border-box;
		    width: 100%;
		    height: 100%;
		    font-size: 62.5%;
		    font-family: "Noto Sans", sans-serif;
		}

        .exhibition-container {
            /* border: 3rem solid blue; */
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .exhibition-array {
            margin-top: 10rem;
            /* border: 0.3rem solid red; */
        }

        .exhibition-array1 {
            display: flex;
            justify-content: center;
            /* border: 0.3rem solid blue; */
        }

        .exhibition-array2, .exhibition-array3, .exhibition-array4, .exhibition-array5 {
            margin: 0rem 4rem;
            border: 0.1rem solid #9DD7D7;
            border-radius: 1rem;
            padding : 0.3rem 0.9rem;
            font-weight: 900;
            font-family:sans-serif;
            font-size: 2rem;
            background-color: white;
            cursor: pointer;
        }

        button.active {
            background-color: #9DD7D7;
            border: none;
        }

		.exhibition-cards {
            /* border: 0.1rem solid red; */
            margin: 10rem 0rem;
            width: 80%;
        }

        .exhibition-card {
            display: flex; 
            flex-wrap: wrap; 
            justify-content: center; 
            /* border: 0.1rem solid black; */
        }

        .exhibition-card-list {
            /* flex: 0 0 calc(20% - 2rem);
            max-width: calc(20% - 2rem); */
            list-style-type: none;
            margin-bottom: 5rem;
            padding: 0 3rem;
            /* border: 0.1rem solid red; */
        }

        .exhibition-cards .exhibition-card-list a {
            text-decoration: none;
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .exhibition-card-image {
            /* border: 0.1px solid black; */
            border-radius: 2rem;
            overflow: hidden;
            display: flex;
            justify-content: center;
            height: 33.4rem;
            background-color: #EDF8F8;
        }

        .exhibition-card-image-url {
            max-width: 24rem;
            height: auto;
            object-fit: contain;
        }

        .exhibition-card-content {
            width: 80%;
            /* border: 0.1rem solid red; */
        }

        .exhibition-card-title {
            /* border: 0.1rem solid yellow; */
            font-weight: 900;
            color: black;
            font-size: 1.5rem;
            padding: 0.2rem;
            margin-top: 1rem;
        }

        .exhibition-card-location {
            /* border: 0.1rem solid yellow; */
            font-size: 1.5rem;
            padding: 0.2rem;
        }

        .exhibition-card-date {
            /* border: 0.1rem solid yellow; */
            color: hsla(0, 0%, 0%, 0.3);
            font-size: 1.5rem;
            padding: 0.2rem;
        }

        .exhibition-card-title, .exhibition-card-location, .exhibition-card-date {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 18rem;
        }
