html {
	font-size: 62.5%;
}

#enroll-form-main {
	transform: scale(1.4);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 25rem 0rem;
}

#enroll-form-main h5 {
	margin: 2rem 0rem;
	font-size: 1.5rem;
	font-weight: 900;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#enroll-form {
	box-sizing: border-box;
	width: 27.18rem;
	height: 36rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: solid 0.2rem #9DD7D7;
	border-radius: 2rem;
	padding: 0rem;
}

#enroll-form input {
	border: none;
	margin-left: 0.9rem;
	padding: 0.6rem 0rem 0.6rem 0rem;
	font-size: 0.9rem;
	width: 14rem;
}

#enroll-form .new-input {
	width: 6rem;
}

#enroll-form #email-auth-no {
	width: 9.6rem;
}

#form-table {
	position: relative;
	width: 100%; /* 테이블 너비를 부모 요소의 80%로 설정 */
	height: 100%; /* 테이블 높이를 200px로 설정 */
	table-layout: fixed; /* 고정된 레이아웃으로 설정하여 셀 크기 제어 */
	padding: 0px;
	font-size: 1.4rem;
	font-weight: 900;
	width: 100%;
}

#form-table td {
	border-bottom: 0.14rem solid #9DD7D7;
	padding: 0rem 1rem;
	align-items: center;
}

td>.required {
	color: red;
}

#form-table tr:last-child td {
	border-bottom: none; /* 마지막 행의 셀에는 구분선을 추가하지 않음 */
	height: 6rem;
}

#address-input {
	width: 15rem;
}

#detail-address-span {
	font-size: 0.9rem;
	margin: 0rem;
	padding: 0rem;
}

#detail-address-span+#detail-address-input {
	margin: 0rem 0rem 0rem 1.2rem;
	padding: 0rem;
}

#address-input {
	width: 15rem;
}

input:focus {
	outline: none;
	border-color: #9DD7D7; /* 포커스 시 테두리 색상을 변경하는 것도 가능 */
}

#enroll-form #email-prefix {
	margin-left: 0.9rem;
	padding: 0.9rem 0rem 0.9rem 0rem;
	width: 4.1rem;
}

tr>td>#email-suffix {
	font-size: 0.9rem;
	outline: none;
	border: none;
	width: 8rem;
}

#custom-input {
	display: none;
}

.check-button {
	position: absolute;
	right: 1.4rem;
	padding: 0.6rem;
	border-radius: 0.54rem;
	color: #ffffff;
	font-size: 0.72rem;
	font-weight: 700;
	background-color: #0b9b9b;
	width: 4.5rem;
	height: 2.16rem;
	border: none;
}

.check-button:hover {
	background-color: #9DD7D7; /* 마우스 올렸을 때 배경색 변경 */
	color: #ffffff; /* 글자색 변경 */
}

#enroll-btn {
	right: 1.4rem;
	padding: 0.6rem;
	color: #ffffff;
	font-size: 0.9rem;
	font-weight: 700;
	background-color: #0b9b9b;
	border-radius: 0.54rem;
	width: 9.72rem;
	height: 2.76rem;
	border: none;
	margin: 1.4rem;
}

#enroll-btn:hover {
	background-color: #9DD7D7; /* 마우스 올렸을 때 배경색 변경 */
	color: #ffffff; /* 글자색 변경 */
}

#sosical-signup-btn-area {
	display: flex;
	align-items: center;
	align-content: center;
	gap: 2.7rem;
}

#naver-signup-btn-img {
	border-radius: 0.54rem;
	width: 9.72rem;
	height: 2.76rem;
}

#naver-signup-btn-img:hover {
	cursor: pointer;
}

#google-signup-btn-img {
	border-radius: 0.54rem;
	width: 9.72rem;
	height: 2.76rem;
}

#google-signup-btn-img:hover {
	cursor: pointer;
}

.enroll-span {
	font-size: 0.72rem;
}

.error-message {
	color: #FF0000; /* 오류 메시지를 빨간색으로 표시 */
	font-size: 0.77rem; /* 작은 폰트 크기 */
	content: 0.77rem; /* 위 요소와 간격 */
	align-self: flex-start; /* 부모 flex 컨테이너에서 왼쪽으로 정렬 */
	height: 0rem;
	line-height: 0.35rem;
}

.success-message {
	color: #0000FF; /* 오류 메시지를 빨간색으로 표시 */
	font-size: 0.77rem; /* 작은 폰트 크기 */
	content: 0.77rem; /* 위 요소와 간격 */
	align-self: flex-start; /* 부모 flex 컨테이너에서 왼쪽으로 정렬 */
	height: 0rem;
	line-height: 0.35rem;
}

#terms-and-conditions-div {
	margin-left: 0.9rem;
	margin-top: 0.3rem;
	padding: 0rem;
	display: flex;
	width: 24rem;
	justify-content: left;
	align-items: center;
}

#terms-and-conditions {
	visibility: hidden;
}

#terms-and-conditions-span {
	
	align-content:center;
	margin-left: 0.9rem;
	padding: 0;
	width: 0.9rem;
	height: 0.9rem;
	border: 0.06rem solid #9DD7D7;
	border-radius: 100%; /* 원형으로 변경 */
}

/* 커스텀 체크박스 스타일 */
.custom-checkbox {
	display: inline-block;
	width: 0.9rem;
	height: 0.9rem;
	border: 0.14rem solid #9DD7D7;
	border-radius: 100%;
	position: relative;
	cursor: pointer;
	vertical-align: middle;
	margin-bottom: 0.6rem;
}

/* 체크박스 체크 상태일 때 스타일 */
input[type="checkbox"]:checked + .custom-checkbox {
	background-color: white;
}

input[type="checkbox"]:checked + .custom-checkbox::after {
	content: '';
	position: absolute;
	top: 40%;
	left: 57%;
	width: 0.42rem;
	height: 0.42rem;
	border: solid 0.14rem #0b9b9b;
	border-width: 0 0.14rem 0.14rem 0;
	transform: translate(-60%, -60%) rotate(45deg);
}

#terms-and-condition-content {
	line-height: 2.22rem;
	font-size: 0.9rem;
}

#naver_id_login {
	display: none;
}
