html {
	font-size: 62.5%;
}

#enroll-form-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 15.00rem 0.00rem;
}

#enroll-form-main h5 {
	margin: 2.80rem 0.00rem;
	font-size: 2.10rem;
	font-weight: 900;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#enroll-form {
	box-sizing: border-box;
	width: 38.05rem;
	height: 50.40rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: solid 0.28rem #9DD7D7;
	border-radius: 2.80rem;
	padding: 0.00rem;
}

#enroll-form input {
	border: none;
	margin-left: 1.26rem;
	padding: 0.84rem 0.00rem 0.84rem 0.00rem;
	font-size: 1.26rem;
	width: 19.60rem;
}

#enroll-form .new-input {
	width: 8.40rem;
}

#enroll-form #email-auth-no {
	width: 13.44rem;
}

#form-table {
	position: relative;
	width: 100%; /* 테이블 너비를 부모 요소의 80%로 설정 */
	height: 100%; /* 테이블 높이를 200px로 설정 */
	table-layout: fixed; /* 고정된 레이아웃으로 설정하여 셀 크기 제어 */
	padding: 0px;
	font-size: 1.96rem;
	font-weight: 900;
	width: 100%;
}

#form-table td {
	border-bottom: 0.20rem solid #9DD7D7;
	padding: 0.00rem 1.40rem;
	align-items: center;
}

td>.required {
	color: red;
}

#form-table tr:last-child td {
	border-bottom: none; /* 마지막 행의 셀에는 구분선을 추가하지 않음 */
	height: 8.40rem;
}

#address-input {
	width: 21.00rem;
}

#detail-address-span {
	font-size: 1.26rem;
	margin: 0.00rem;
	padding: 0.00rem;
}

#detail-address-span+#detail-address-input {
	margin: 0.00rem 0.00rem 0.00rem 1.68rem;
	padding: 0.00rem;
}

#address-input {
	width: 21.00rem;
}

input:focus {
	outline: none;
	border-color: #9DD7D7; /* 포커스 시 테두리 색상을 변경하는 것도 가능 */
}

#enroll-form #email-prefix {
	margin-left: 1.26rem;
	padding: 1.26rem 0.00rem 1.26rem 0.00rem;
	width: 5.74rem;
}

tr>td>#email-suffix {
	font-size: 1.26rem;
	outline: none;
	border: none;
	width: 11.20rem;
}

#custom-input {
	display: none;
}

.check-button {
	position: absolute;
	right: 1.96rem;
	padding: 0.84rem;
	border-radius: 0.76rem;
	color: #ffffff;
	font-size: 1.01rem;
	font-weight: 700;
	background-color: #0b9b9b;
	width: 6.30rem;
	height: 3.02rem;
	border: none;
}

.check-button:hover {
	background-color: #9DD7D7; /* 마우스 올렸을 때 배경색 변경 */
	color: #ffffff; /* 글자색 변경 */
}

#enroll-btn {
	right: 1.96rem;
	padding: 0.84rem;
	color: #ffffff;
	font-size: 1.26rem;
	font-weight: 700;
	background-color: #0b9b9b;
	border-radius: 0.76rem;
	width: 13.61rem;
	height: 3.86rem;
	border: none;
	margin: 1.96rem;
}

#enroll-btn:hover {
	background-color: #9DD7D7; /* 마우스 올렸을 때 배경색 변경 */
	color: #ffffff; /* 글자색 변경 */
}

#sosical-signup-btn-area {
	display: flex;
	align-items: center;
	align-content: center;
	gap: 3.78rem;
}

#naver-signup-btn-img {
	border-radius: 0.76rem;
	width: 13.61rem;
	height: 3.86rem;
}

#naver-signup-btn-img:hover {
	cursor: pointer;
}

#google-signup-btn-img {
	border-radius: 0.76rem;
	width: 13.61rem;
	height: 3.86rem;
}

#google-signup-btn-img:hover {
	cursor: pointer;
}

.enroll-span {
	font-size: 1.01rem;
}

.error-message {
	color: #FF0000; /* 오류 메시지를 빨간색으로 표시 */
	font-size: 1.08rem; /* 작은 폰트 크기 */
	content: 1.08rem; /* 위 요소와 간격 */
	align-self: flex-start; /* 부모 flex 컨테이너에서 왼쪽으로 정렬 */
	height: 0.00rem;
	line-height: 0.49rem;
}

.success-message {
	color: #0000FF; /* 오류 메시지를 빨간색으로 표시 */
	font-size: 1.08rem; /* 작은 폰트 크기 */
	content: 1.08rem; /* 위 요소와 간격 */
	align-self: flex-start; /* 부모 flex 컨테이너에서 왼쪽으로 정렬 */
	height: 0.00rem;
	line-height: 0.49rem;
}

#terms-and-conditions-div {
	margin-left: 1.26rem;
	margin-top: 0.42rem;
	padding: 0.00rem;
	display: flex;
	width: 33.60rem;
	justify-content: left;
	align-items: center;
}

#terms-and-conditions {
	visibility: hidden;
}

#terms-and-conditions-span {
	align-content:center;
	margin-left: 1.26rem;
	padding: 0;
	width: 1.26rem;
	height: 1.26rem;
	border: 0.08rem solid #9DD7D7;
	border-radius: 100%; /* 원형으로 변경 */
}

/* 커스텀 체크박스 스타일 */
.custom-checkbox {
	display: inline-block;
	width: 1.26rem;
	height: 1.26rem;
	border: 0.20rem solid #9DD7D7;
	border-radius: 100%;
	position: relative;
	cursor: pointer;
	vertical-align: middle;
	margin-bottom: 0.84rem;
}

/* 체크박스 체크 상태일 때 스타일 */
input[type="checkbox"]:checked + .custom-checkbox {
	background-color: white;
}

input[type="checkbox"]:checked + .custom-checkbox::after {
	content: '';
	position: absolute;
	top: 40%;
	left: 57%;
	width: 0.59rem;
	height: 0.59rem;
	border: solid 0.20rem #0b9b9b;
	border-width: 0 0.20rem 0.20rem 0;
	transform: translate(-60%, -60%) rotate(45deg);
}

#terms-and-condition-content {
	line-height: 3.11rem;
	font-size: 1.26rem;
}

#naver_id_login {
	display: none;
}
