html {
	font-size: 62.5%;
	font-family: "Noto Sans", sans-serif;
}

#login-form-main {
	transform: scale(1.4);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20rem 0;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#login-form {
	box-sizing: border-box;
	width: 27.8rem;
	height: 10.44rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: solid 0.2rem #9DD7D7;
	border-radius: 1.8rem;
	padding: 0rem;
}

#login-form input {
	border: none;
	margin-left: 0.9rem;
	padding: 0.9rem 0rem 0.9rem 0rem;
	font-size: 1.5rem;
	width: 18rem;
}

#login-form-table {
	width: 100%; /* 테이블 너비를 부모 요소의 80%로 설정 */
	height: 100%; /* 테이블 높이를 200px로 설정 */
	table-layout: fixed; /* 고정된 레이아웃으로 설정하여 셀 크기 제어 */
	padding: 0rem;
	font-size: 1.4rem;
	font-weight: 900;
	width: 100%;
}

#login-form-table td {
	border-bottom: 0.2rem solid #9DD7D7;
	padding: 0.6rem 1.4rem;
	align-items: center;
	font-size: 1.5rem;
	color: #C9C0C0;
}

#login-form-table tr:last-child td {
	border-bottom: none; /* 마지막 행의 셀에는 구분선을 추가하지 않음 */
}

input::placeholder {
	color: #C9C0C0;
}

input:focus {
	outline: none;
	border-color: #0b9b9b; /* 포커스 시 테두리 색상을 변경하는 것도 가능 */
}

.error-message {
	margin-top: 0.3rem;
  padding-left: 1.4rem;
	color: red; /* 오류 메시지를 빨간색으로 표시 */
	font-size: 0.8rem; /* 작은 폰트 크기 */
	content: 0.72rem; /* 위 요소와 간격 */
	align-self: flex-start; /* 부모 flex 컨테이너에서 왼쪽으로 정렬 */
	height: 0rem;
  font-weight: 500;
}

#login-form-under-link {
	margin-top: 2.4rem;
  margin-bottom: 1.2rem;
  font-size: 0.9rem;
}

#login-form-under-link a {
	color: black;
	text-decoration: none;
}

#login-form-under-link a:hover {
	color: #0b9b9b;
	font-weight: 900;
	cursor: pointer;     
}

#login-btn {
	right: 1.4rem;
	padding: 0.6rem;
	border-radius: 0.9rem;
	color: #ffffff;
	font-size: 1.4rem;
	font-weight: 700;
	background-color: #0b9b9b;
	font-family: notosans;
	width: 27.78rem;
	height: 4.2rem;
	border: none;
	margin: 0.6rem;
}

#login-btn:hover {
	background-color: #097c7c; /* 마우스 올렸을 때 배경색 변경 */
	color: #ffffff; /* 글자색 변경 */
	font-family: notosans;
}

#naver-login-btn-img {
  width: 27.78rem;
	height: 4.2rem;
  margin: 0.6rem;
	border-radius: 0.9rem;
}

#naver-login-btn-img:hover {
	cursor: pointer;
}

#google-login-btn-img {
  width: 27.78rem;
	height: 4.2rem;
  margin: 0.6rem;
	border-radius: 0.9rem;
}

#google-login-btn-img:hover {
	cursor: pointer;
}

#naver_id_login {
	display: none;
}