/********** 1단계 스타일 **********/
html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.ticketing-detail-container {
    display: flex;
    justify-content: center; /* 부모 컨테이너를 가운데 정렬 */
    gap: 50px;
    width: 850px; /* 고정된 컨테이너 너비 */
    height: 550px; /* 고정된 컨테이너 높이 */
    padding: 20px;
    box-sizing: border-box;
}

.ticketing-detail-left-area,
.ticketing-detail-right-area {
    width: 380px; /* 각 영역의 고정된 너비 */
    display: flex;
    flex-direction: column; /* 자식 요소를 수직으로 배치 */
    justify-content: center; /* 자식 요소들을 중앙에 정렬 */
    align-items: center; /* 자식 요소들을 수평 중앙으로 정렬 */
}

#step-1 p { text-align: center; }
#ticketing-detail-logo { width: 100px; margin: 0 0 50px 100px;}

.ticketing-detail-right-area-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.info-row {
    display: flex;
    justify-content: space-between; /* 하위 요소를 양옆에 배치 */
    width: 100%;
    margin-bottom: 10px;
}

.vertical-line {
    width: 1px;
    background-color: #C9C0C0;
    height: 100%;
    margin: 0 60px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7열로 설정 */
    gap: 5px;
    text-align: center;
    width: 100%;
    font-family: Arial, sans-serif;
}

.day-container {
    display: flex;
    justify-content: space-between; /* 요일을 가로로 배치 */
    background-color: #EDF8F8;
    padding: 5px;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.day {
    flex: 1;
    text-align: center;
    font-weight: bold;
    color: #000; /* 요일 글자색 */
}

.date {
    width: 40px; /* 날짜 요소의 너비 */
    height: 40px; /* 날짜 요소의 높이 */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* 정원형으로 만들기 위한 설정 */
    cursor: pointer;
}
#prev-month, #next-month { font-weight: lighter; color:#9DD7D7; }

.prev-month, .next-month {
    color: #C9C0C0; /* 이전 및 다음 달의 날짜 */
}

.current-month {
    color: black;
}

.sunday {
    color: red;
}

.saturday {
    color: blue;
}

#month-year-container {
    text-align: center;
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#month-year-container button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.selected-date {
    background-color: #9DD7D7 !important;
    color: #000;
    border-radius: 50%; /* 선택된 날짜를 정원형으로 */
}

/* 지난 날짜 스타일 추가 */
.disabled {
    color: #ccc; /* 지난 날짜의 색상 설정 */
    pointer-events: none; /* 지난 날짜 선택 비활성화 */
}

hr {
    border: none;
    border-top: 2px solid #000;
    margin: 10px 0;
    width: 100%;
}

#btn-next {
    width: 100px;
    border: none;
    border-radius: 15px;
    background-color: #0b9b9b;
    color: #fff;
    padding: 10px;
    font-size: 1.0rem;
    font-weight: 900;
    cursor: pointer;
    margin-top: 20px;
}

#exhibition-title { font-weight: 900; }
#ticketing-detail-exhibition-img { width: 100px; }
#total-count { color: red; font-weight: 900; }
/*************************************************/


/********** 2단계 스타일 **********/
.display-user-info {
    border: 2px solid #9DD7D7;
    border-radius: 15px;
    box-sizing: border-box;
    width: 100%;
    margin: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border-bottom: 2px solid #9DD7D7;
    /* padding: 10px; */
    height: 40px;
}

table th {
    width: 20%;
    text-align: center;
    font-size: 14px;
}

table td {
    width: 70%;
}

table input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: none;
    padding-left: 10px;
    outline: none;
}

#input-name { border-top-right-radius: 15px;}
#input-email { border-bottom-right-radius: 15px;}

/******* 체크박스 관련 스타일 ******/
#checkbox-area {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: left;
    align-items: start;
}

.custom-checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.custom-checkbox {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #9DD7D7;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    margin-right: 1rem;
    background-color: white;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .custom-checkbox {
    background-color: #fff;
}

input[type="checkbox"]:checked + .custom-checkbox::after {
    content: '';
    position: absolute;
    top: 40%;
    left: 50%;
    width: 7px;
    height: 7px;
    border: solid 2px #0b9b9b;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

#checkbox-content {
    font-size: 12px;
    width: 80%;
}

/****** select div 스타일 ******/
.ticket-info-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 0 20px;
    margin: 10px;
    border: 2px solid #9DD7D7;
    border-radius: 50px;
    font-size: 14px;
}

/*** 버튼 스타일 ***/
.btn-area button { margin: 5px;}
#btn-prev {
    width: 100px;
    border: 2px solid #000;
    border-radius: 15px;
    background-color: #fff;
    color: #000;
    padding: 9px;
    font-size: 1.0rem;
    font-weight: 900;
    cursor: pointer;
    margin-top: 20px;
}
#btn-payment {
    width: 80px;
    border: none;
    border-radius: 15px;
    background-color: #0b9b9b;
    color: #fff;
    padding: 10px;
    font-size: 1.0rem;
    font-weight: 900;
    cursor: pointer;
    margin-top: 20px;
}

#exhibition-title { font-weight: 900; }
#ticketing-detail-exhibition-img { width: 100px; }
#total-count { color: red; font-weight: 900; }
#ticketing-info-text p {text-align: center; margin-left: 50px;} 
/**************************************************/
/********** 3단계 스타일 *********/
.payment-method-select {
    border: 2px solid #9DD7D7;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* 왼쪽 정렬로 수정 */
}

#card-area, #virtual-area {
    display: flex;
    align-items: center; /* 라디오 버튼과 텍스트를 같은 선상에 정렬 */
    margin-bottom: 10px;
    width: 100%; /* 두 영역의 너비를 동일하게 설정 */
}

#card-area p, #virtual-area p {
    margin-left: 10px;
    font-size: 1rem;
}

/* #card-area input, #virtual-area input { margin-left: 0; } */

/* 라디오 버튼 색상 변경 */
input[type="radio"] {
    accent-color: #0b9b9b; /* 원하는 색상으로 변경 */
}

#step-3 p { text-align: center;}