html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 62.5%; /* 1rem = 10px */
    font-family: "Noto Sans", sans-serif;

}

.community-write-container {
    width: 100%;
    height: 80vh;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}

/* 최상단 제목영역(글쓰기) */
.community-head-section {
    width: 10rem;
    text-align: center;
    margin-bottom: 4rem;
    border-bottom: 2px solid #000;

}

#community-head-title {
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    /* border: 1px solid red; */
}

.required {
    color: #e63946;
}

/* 드롭다운 영역 */
.dropdown-container label{
    font-weight: bold;
    font-size: 1.6rem;
    display: block;
    margin-bottom: 0.5rem;
}


/* 제목 입력 영역*/
.community-input-title-section {
    width: 50rem;
    margin-bottom: 4rem;
    /* border: 1px solid red; */
}

.community-input-title-section label {
    font-weight: 900;
    font-size: 1.6rem;
    display: block;
    margin-bottom: 0.5rem;
}

.community-input-title {
    width: 100%;
    padding: 1rem;
    border: 2px solid #9DD7D7;
    border-radius: 1.5rem;
    font-size: 1.4rem;
    outline: none;
}

/* 내용 입력 영역*/
.community-input-content-section {
    width: 50rem;
    margin-bottom: 4rem;
    /* border: 1px solid red; */
}

.community-input-content-section label {
    font-weight: bold;
    font-size: 1.6rem;
    display: block;
    margin-bottom: 0.5rem;
}

.community-input-content {
    width: 100%;
    height: 20rem;
    padding: 0.8rem;
    border: 2px solid #9DD7D7;
    border-radius: 1.5rem;
    font-size: 1.4rem;
    resize: none;
    outline: none;
}

/* 버튼 스타일 */
.community-write-button-section {
    width: 50rem;
    display: flex;
   	justify-content: center;
    /* border: 1px solid red; */
}

.community-submit-btn, .community-cancel-btn {
    width: 7rem;
    padding: 0.5rem;
    font-size: 1.4rem;
    font-weight: 900;
    border-radius: 2rem;
    cursor: pointer;
    margin: 0 2rem;
}

.community-submit-btn {
    background-color: #0B9B9B;
    border: 1px solid #0B9B9B;
    color: #fff;
}

.community-cancel-btn {
    border: 1px solid #000;
    background-color: #fff;
}

