<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamx.exsite.model.mapper.review.ReviewMapper">
<insert id="insertReview" parameterType="com.teamx.exsite.model.review.vo.ReviewInfo">
        INSERT INTO REVIEW
            (ticket_no, user_no, review_title, review_content, review_date, review_status)
        VALUES 
            (
            (SELECT ticket_no FROM ticketing WHERE ticket_no = 'T2024'), 
            (SELECT user_no FROM user_info WHERE  user_no = 1), 
            #{reviewTitle}, 
            #{reviewContent},
            #{reviewDate}, 
            #{reviewStatus})
    </insert>
</mapper>