<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/mypage/views/mypagePasswordChange.css">
<script src="/lib/jQuery/jquery-3.7.1.min.js"></script>
<script src="/js/user/changePasswordForm.js"></script>
</head>
<body>
	<div class="mypage-view-password-change">
		<div class="mypage-head-section">
			<div class="mypage-view-head-title">비밀번호 재설정</div>
		</div>
		<div id="password-change-main" th:if="${session.loginUser.method == 'NORMAL'}">
			<form id="submit-id" action="/mypage/password/change" method="post">
				<input id="password" name="changePassword" type="password" class="change-password-input" maxlength="12" placeholder="새 비밀번호(8~12자 영문, 숫자, 특수문자)">
				<div id="password-error" class="error-message"></div>
				<input id="check-password" type="password" class="change-password-input" maxlength="12" placeholder="비밀번호 확인">
				<div id="check-password-result" class="error-message"></div>
				<div id="button-area">
					<button id="submit-change-password">확인</button>
				</div>
			</form>
		</div>
		<div th:unless="${session.loginUser.method == 'NORMAL'}">
			<p class="error-message">소셜 로그인 유저는 비밀번호를 변경할 수 없습니다.</p>
	</div>
	</div>
</body>
</html>