<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/mypage/views/mypageModifyUser.css">
<link rel="stylesheet" href="/css/user/enrollForm.css">
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/lib/jQuery/jquery-3.7.1.min.js"></script>
<script src="/js/mypage/mypageModifyUser.js"></script>
</head>
<body>
	<div id="enroll-form-main">
        <div class="mypage-head-section">
			<div class="mypage-view-head-title">회원 정보 수정</div>
		</div>
		<form action="/mypage/modify/personalinfo" method="post">
			<div id="enroll-form">
				<table id="form-table">
					<tr>
						<td>아이디<span id="userId" th:text="${session.loginUser.userId}">user01</span>
                        </td>	
					</tr>
					<tr>
						<td>이름<span id="userName" th:text="${session.loginUser.name}"></span></td>
					</tr>
					<tr>
						<td th:if="${session.loginUser.method != 'NAVER' AND session.loginUser.method != 'GOOGLE'}">
							이메일<span class="required" th:if="${session.loginUser.method != 'NAVER' AND session.loginUser.method != 'GOOGLE'}">*</span>
							<input id="email-prefix" 
										 th:value="${#strings.substringBefore(session.loginUser.email, '@')}" 
										 name="email-prefix"
										 th:disabled="${session.loginUser.method == 'NAVER' OR session.loginUser.method == 'GOOGLE'}">
							<span id="at">@</span>
							<select id="email-suffix" th:disabled="${session.loginUser.method == 'NAVER' OR session.loginUser.method == 'GOOGLE'}">
									<option value="naver.com" th:selected="${#strings.substringAfter(session.loginUser.email, '@') == 'naver.com'}">naver.com</option>
									<option value="gmail.com" th:selected="${#strings.substringAfter(session.loginUser.email, '@') == 'gmail.com'}">gmail.com</option>
									<option value="gmail.com" th:selected="${#strings.substringAfter(session.loginUser.email, '@') == 'hanmail.net'}">hanmail.net</option>
									<option value="gmail.com" th:selected="${#strings.substringAfter(session.loginUser.email, '@') == 'nate.com'}">nate.com</option>
									<option value="gmail.com" th:selected="${#strings.substringAfter(session.loginUser.email, '@') == 'hotmail.com'}">hotmail.com</option>
									<option value="other" th:selected="${#strings.substringAfter(session.loginUser.email, '@') != 'naver.com' and #strings.substringAfter(session.loginUser.email, '@') != 'gmail.com'}">기타(직접 입력)</option>
							</select>
							<button type="button" id="authentication-email" class="check-button" th:if="${session.loginUser.method != 'NAVER' AND session.loginUser.method != 'GOOGLE'}">인증받기</button>
							<div id="registered-email-alert" class="success-message"></div>
							<input type="hidden" id="email" name="email" th:value="${session.loginUser.email}">
						</td>
						<td th:unless="${session.loginUser.method != 'NAVER' and session.loginUser.method != 'GOOGLE'}">
							<p style="font-size: 1rem;">소셜 로그인 사용자는 이메일을 수정할 수 없습니다.</p>
					</td>
					</tr>
					<tr>
						<td>연락처<sapn class="required">*</sapn><input th:value="${session.loginUser.phone}" name="phone" id="phone" maxlength="11" type="text" placeholder="01012345678" required>
							<button type="button" id="authentication-phone" class="check-button">인증받기</button>
							<div id="registered-phone-alert" class="success-message"></div>
						</td>
					</tr>
					<tr>
						<td>
							주소<sapn class="required">*</sapn>
							<input th:value="${session.loginUser.address}" name="address" id="address-input" type="text" required>
							<button type="button" id="search-address" class="check-button">검색</button>
							<div id="address-alert" class="success-message"></div>
							<span id="detail-address-span">상세주소</span><input th:value="${session.loginUser.addressDetail}" name="addressDetail" id="detail-address-input" type="text" required>
						</td>
					</tr>
				</table>
			</div>
			<button type="submit" id="enroll-btn">수정</button>
		</form>
	</div>
</body>
</html>