<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/mypage/views/mypageTicketList.css">
<script src="/lib/jQuery/jquery-3.7.1.min.js"></script>
<script src="/js/mypage/mypageTicketList.js"></script>
</head>
<body>
    <div class="mypage-view-ticket-info">
        <div class="mypage-head-section">
            <div class="mypage-view-head-title">
                예매 확인/취소
             </div>
        </div>
        <div class="mypage-view-ticket-container">
            <!-- 예매확인/취소 네비게이션 영역 -->
            <div class="mypage-view-ticket-category-nav-section">
                <div><button class="mypage-view-ticket-category-nav" type="button" data-category="1개월">1개월</button></div>
                <div><button class="mypage-view-ticket-category-nav" type="button" data-category="3개월">3개월</button></div>
                <div><button class="mypage-view-ticket-category-nav" type="button" data-category="6개월">6개월</button></div>
                <div><button class="mypage-view-ticket-category-nav" type="button" data-category="12개월">12개월</button></div>
                <div><button class="mypage-view-ticket-category-nav" type="button" data-category="전체기간">전체 기간</button></div>
            </div>
    
            <!-- 예매 목록 테이블 영역 -->
            <div class="mypage-view-ticket-list-section">
                <table>
                    <thead>
                        <tr>
                            <th>예매 일자</th>
                            <th>예매 번호</th>
                            <th>전시명</th>
                            <th>관람일</th>
                            <th>예매 상태</th>
                        </tr>
                    </thead>
                    <tbody class="mypage-view-ticket-content-list">
                        <tr th:each=" info:${ticketingInfo}">
                            <td th:text="${#strings.substring(info.ticketingDate, 0, 10)}"></td>
                            <td>
                                <a th:href="'/mypage/view?view=ticketDetail&merchantUid=' + ${info.merchantUid}" th:text="${info.merchantUid}"></a>
                            </td>
                            <td th:text="${info.name}">[라스트얼리버드] 불멸의 화가 반 고흐</td>
                            <td th:text="${info.exDate}">상시 상품</td>
                            <td th:text="${info.ticketStatus}">예매</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <nav aria-label="Page navigation" th:if="${pageInfo.endPage > 1}">
                <ul class="pagination justify-content-center">
                    <li th:classappend="${pageInfo.currentPage == 1} ? 'disabled'" class="page-item">
                        <a id="page-prev" class="page-link" 
                           th:href="${pageInfo.currentPage > 1} ? '/mypage/view?view=ticketList&cpage=' + ${pageInfo.currentPage - 1} : '#'" 
                           >
                            <img src="/img/common/pagenation_arrow_left.png" alt="">
                        </a>
                    </li>
                    <!-- 페이지 링크 반복 -->
                    <span th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
                         <!-- 페이징 바 클릭 시 cpage 값으로 i 전달 -->
                        <a th:href="'/mypage/view?view=ticketList&cpage=' + ${i}" 
                           class="page-link page-number" 
                           th:text="${i}" 
                           th:classappend="${i == pageInfo.currentPage} ? 'pagenation-active'"></a>
                           <!-- append로 active 클래스 추가-->
                    </span>
                    <li th:classappend="${pageInfo.currentPage == pageInfo.maxPage} ? 'disabled'" class="page-item">
                        <a id="page-next" class="page-link"
                            th:href="${pageInfo.currentPage lt pageInfo.maxPage} ? '/mypage/view?view=ticketList&cpage=' +  ${pageInfo.currentPage + 1} : '#'" 
                            >
                            <img src="/img/common/pagenation_arrow_right.png" alt="">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
     </div>
</body>
</html>