<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/mypage/views/mypageReviewList.css">
</head>
<body>
    <div class="mypage-view-review-list">
        <div class="mypage-head-section">
            <div class="mypage-view-head-title">
                나의 후기
            </div>
        </div>
        <div class="mypage-view-review-container">
    
            <!-- 예매 목록 테이블 영역 -->
            <div class="mypage-view-review-list-section">
                <table>
                    <thead>
                        <tr>
                            <th>리뷰 제목</th>
                            <th>전시명</th>
                            <th>관람일</th>
                            <th>작성일</th>
                        </tr>
                    </thead>
                    <tbody class="mypage-view-review-content-list">
                        <tr>
                            <td>고흐 전시 추천합니다 :)</td>
                            <td>[라스트 얼리버드] 불멸의 화가 반 고흐</td>
                            <td>상시 상품</td>
                            <td>2024.10.22</td>
                        </tr>
                        <tr>
                            <td>고흐 전시 추천합니다 :)</td>
                            <td>[라스트 얼리버드] 불멸의 화가 반 고흐</td>
                            <td>상시 상품</td>
                            <td>2024.10.22</td>
                        </tr>
                        <tr>
                            <td>고흐 전시 추천합니다 :)</td>
                            <td>[라스트 얼리버드] 불멸의 화가 반 고흐</td>
                            <td>상시 상품</td>
                            <td>2024.10.22</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a id="page-prev" class="page-link" href="#" tabindex="-1" aria-disabled="true"><img src="/img/common/pagenation_arrow_left.png" alt=""></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                  <li class="page-item"><a class="page-link" href="#">6</a></li>
                  <li class="page-item"><a class="page-link" href="#">7</a></li>
                  <li class="page-item"><a class="page-link" href="#">8</a></li>
                  <li class="page-item"><a class="page-link" href="#">9</a></li>
                  <li class="page-item"><a class="page-link" href="#">10</a></li>
                  <li class="page-item">
                    <a id="page-next" class="page-link" href="#"><img src="/img/common/pagenation_arrow_right.png" alt=""></a>
                  </li>
                </ul>
            </nav>
        </div>
     </div>
</body>
</html>