<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/mypage/views/mypageReviewList.css">
<script src="/js/mypage/mypageReviewList.js"></script>
</head>
<body>
    <div class="mypage-view-review-list">
        <div class="mypage-head-section">
            <div class="mypage-view-head-title">
                나의 후기
            </div>
        </div>
        <div class="mypage-view-review-container">
    
            <!-- 예매 목록 테이블 영역 -->
            <div class="mypage-view-review-list-section">
                <table>
                    <thead>
                        <tr>
                            <th>리뷰 제목</th>
                            <th>전시명</th>
                            <th>관람일</th>
                            <th>작성일</th>
                        </tr>
                    </thead>
                    <tbody class="mypage-view-review-content-list">
                        <tr th:each="review:${reviewList}" th:data-exhibition-id="${review.exhibitionNo}" class="clickable-row">
                            <td th:text="${review.reviewTitle}">고흐 전시 추천합니다 :)</td>
                            <td th:text="${review.exhibitionTitle}">[라스트 얼리버드] 불멸의 화가 반 고흐</td>
                            <td th:text="${review.visitDate}">상시 상품</td>
                            <td th:text="${review.reviewDate}">2024.10.22</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <nav aria-label="Page navigation" th:if="${pageInfo.endPage > 1}">
                <ul class="pagination justify-content-center">
                    <li th:classappend="${pageInfo.currentPage == 1} ? 'disabled'" class="page-item">
                        <a id="page-prev" class="page-link" 
                           th:href="${pageInfo.currentPage > 1} ? '/mypage/view?view=reviewList&cpage=' + ${pageInfo.currentPage - 1} : '#'" 
                           >
                            <img src="/img/common/pagenation_arrow_left.png" alt="">
                        </a>
                    </li>
                    <!-- 페이지 링크 반복 -->
                    <span th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
                         <!-- 페이징 바 클릭 시 cpage 값으로 i 전달 -->
                        <a th:href="'/mypage/view?view=reviewList&cpage=' + ${i}" 
                           class="page-link page-number" 
                           th:text="${i}" 
                           th:classappend="${i == pageInfo.currentPage} ? 'pagenation-active'"></a>
                           <!-- append로 active 클래스 추가-->
                    </span>
                    <li th:classappend="${pageInfo.currentPage == pageInfo.maxPage} ? 'disabled'" class="page-item">
                        <a id="page-next" class="page-link"
                            th:href="${pageInfo.currentPage lt pageInfo.maxPage} ? '/mypage/view?view=reviewList&cpage=' +  ${pageInfo.currentPage + 1} : '#'" 
                            >
                            <img src="/img/common/pagenation_arrow_right.png" alt="">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
     </div>
</body>
</html>