<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/mypage/views/mypageReviewList.css">
</head>
<body>
    <div class="mypage-view-review-list">
        <div class="mypage-head-section">
            <div class="mypage-view-head-title">
                나의 후기
            </div>
        </div>
        <div class="mypage-view-review-container">
            예매 취소가 완료되었습니다.

            <div>
                
            </div>
        </div>
    </div>
</body>
</html>