<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/mypage/views/mypageModifyUserPasswordCheck.css">
<script src="/lib/jQuery/jquery-3.7.1.min.js"></script>
</head>
<body>
	<div class="mypage-view-modify-user-info">
		<div class="mypage-head-section">
			<div class="mypage-view-head-title">회원 정보 수정</div>
		</div>
		<div id="modify-info-main">
			<p>회원 정보 수정을 위해 비밀번호를 입력해 주세요.</p>
			<form id="submit-id" action="/mypage/verify/password" method="post">
				<input name="password" type="password" id="pw-input" maxlength="12"
					placeholder="비밀번호를 입력해 주세요.">
				<div id="id-check-alert" class="error-message"></div>
				<div id="button-area">
					<button type="submit" id="find-pw-btn">확인</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>