<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/mypage/views/mypageTicketDetail.css">
</head>
<body>
	<div class="mypage-ticket-detail">
		<div class="mypage-head-section">
			<div class="mypage-view-head-title">예매 확인/취소</div>
		</div>

		<div class="mypage-ticket-detail-main">
			<!-- 예매 내역 -->
			<div class="mypage-ticket-info-section">
				<p class="section-title">예매 내역</p>
				<table class="section-container">
					<tr class="mypage-ticket-table-tr">
						<td class="label">예매 번호</td>
						<td class="value">0052018062204015183</td>
						<td class="label">수령 방법</td>
						<td class="value">현장수령</td>
					</tr>
					<tr class="mypage-ticket-table-tr">
						<td class="label">전시명</td>
						<td class="value">[라스트일러버드] 불멸의 화가 반 고흐</td>
						<td class="label">취소 마감</td>
						<td class="value">2024.12.28</td>
					</tr>
					<tr class="mypage-ticket-table-tr">
						<td class="label">관람 장소</td>
						<td class="value">예술의전당 한가람미술관 1층</td>
						<td class="label">이름</td>
						<td class="value">이혜인</td>
					</tr>
					<tr class="mypage-ticket-table-tr">
						<td class="label">관람일</td>
						<td class="value">2024.12.29</td>
						<td class="label">연락처</td>
						<td class="value">01012341234</td>
					</tr>

				</table>
			</div>

			<!-- 결제 내역 -->
			<div class="mypage-payment-info-section">
				<p class="section-title">결제 내역</p>
				<table class="section-container">
					<tr class="mypage-ticket-table-tr">
						<td class="label">매수</td>
						<td class="value">2매</td>
					</tr>
					<tr class="mypage-ticket-table-tr">
						<td class="label">결제 정보</td>
						<td class="value">33,600원 (신용카드: 33,600원)</td>
					</tr>
					<tr class="mypage-ticket-table-tr">
						<td class="label">결제일</td>
						<td class="value">2024.10.16</td>
					</tr>
					<tr class="mypage-ticket-table-tr">
						<td class="label">예매 상태</td>
						<td class="value">예매</td>
					</tr>
				</table>
			</div>

			<!-- 예매 취소 유의사항 -->
			<div class="mypage-ticket-cancel-caution">
				<p class="section-title">예매 취소 유의사항</p>
				<div class="cancel-info">
					<div class="cancel-deadline">
						<span class="cancel-deadline-label">취소 마감</span><span>2025년
							02월 08일 23시 59분까지</span>
					</div>
					<ul class="caution-list">
						<li>취소 마감일 이후(관람일 당일)에 예매 취소가 불가능합니다.</li>
						<li>취소 시 예매 내역은 즉시 취소가 가능합니다.</li>
						<li>동일 상품에 대해서 날짜, 좌석, 결제 수단 등의 변경은 불가하며 기존 예매 건을 취소하시고<br>
							재예약하셔야 합니다.
						</li>
					</ul>
				</div>
			</div>

			<!-- 예매 취소 버튼 -->
			<div class="button-section">
				<button class="cancel-button">예매 취소</button>
			</div>
		</div>
	</div>
</body>
</html>