<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/mypage/views/mypageLikeList.css">
</head>
<body>
	<div class="mypage-view-like-list">
		<div class="mypage-head-section">
			<div class="mypage-view-head-title">나의관심 목록</div>
		</div>
		<div class="like-list-section">
			<div class="like-list-info-area">
				<div class="like-list-exhibition-item" th:each="item : ${likeList}">
					<a th:href="@{/exhibition/detail?(id=${item.exhibitionNo})}">
					<div class="like-list-item-image-wrapper">
						<img class="like-list-item-image"
							th:src="${item.mainImg}"
							alt="전시썸네일">
					</div>
					<ul class="like-list-item-textarea">
						<li class="like-list-item-title" th:text="${item.title}"></li>
						<li class="like-list-item-place" th:text="${item.place}">코엑스 B홀</li>
						<li class="like-list-item-date" th:text="${item.exDate}">2024-12-26~2024-12-29</li>
					</ul>
				</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>