html {
    font-size: 62.5%;
    font-family: "Noto Sans", sans-serif;
}

#all-area {

    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;

}

#all-area #write-review-page-title {
    font-size: 2rem;
    font-weight: 700;
}

#all-area .festa-review div {
    margin: auto;
}

#all-area .dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#all-area #festa-title{
    font-weight: bold;
}

#all-area #festa-title:hover, 
#all-area #festa-title:focus{
    background-color: #ffffff; /* hover 시 배경색 유지 */
    color: #000000; /* hover 시 글자 색상 유지 */
    box-shadow: none; /* 불필요한 그림자 제거 */
    outline: none; /* 불필요한 아웃라인 제거 */
}

#all-area #review-title {
    border: 0.2rem solid #9DD7D7;
    padding-left: 1.12rem;
    width: 50rem;
    height: 4rem;
    border-radius: 1.5rem;
    margin-top: 4rem;
    font-size: 1.3rem;
    font-weight: bold;
}

#all-area #review-content {
    border: 0.2rem solid #9DD7D7;
    position: relative;
    margin-bottom: 1.5rem;
    height: 17.3rem;
    width: 50rem;
    border-radius: 1.5rem;
    padding-top: 0.8rem;
    padding-left: 1.12rem;
    resize: none;
    margin-top: 4rem;
    font-size: 1.2rem;
    font-weight: bold;
}
#all-area #review-title:focus,
#all-area #review-content:focus {
    outline: none;
    box-shadow: none;
}

#all-area .review-button {
    margin-top: 1rem;
    font-weight: bold;
    border-radius: 1.5rem;
    width: 4.8rem;
    height:2.8rem;
    font-size: 1.3rem;
}

#all-area #resist {
    border-style: solid;
    border-color: #0B9B9B;
    background-color: #0B9B9B;
    color: #ffffff;
}



#all-area #cancel {
    background-color: #ffffff;
    border-width: 0.06rem;
}



#all-area .btn-area {
    width: 50rem;
    margin: auto;
    text-align: right;
}