<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.teamx.exsite.model.mapper.exmap.ExmapMapper">
    <select id="selectAllExmapCoordinates" resultType="ExmapCoordinate">
        SELECT DISTINCT LOT, LAT 
        FROM EX_MAP WHERE 
        GUNAME = #{guname}
    </select>
    
    <select id="selectDistinctGuname" resultType="string">
    	SELECT DISTINCT GUNAME 
   		FROM EX_MAP
   		ORDER BY GUNAME
	</select>
	
    <select id="findRecentExhibitionByCoordinates" resultType="ExmapExhibition">
	select * from (SELECT e.TITLE, e.PLACE, e.EX_DATE, e.MAIN_IMG
    FROM EX_MAP em
    JOIN EXHIBITION e ON em.EXHIBITION_NO = e.EXHIBITION_NO
    WHERE em.LAT = #{lot} AND em.LOT = #{lat}
    ORDER BY e.EX_DATE DESC)
    where rownum = 1
    </select>
	
</mapper>