<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>EX-SITE</title>
<link rel="stylesheet" href="/css/community/communityPost.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <div th:insert="~{common/header}"></div>

    <div class="communityPost-container">
        
        <!-- 게시글 제목 및 정보 영역 -->
        <div class="communityPost-title-section">
            <div class="post-title" th:text="${boardDetail.postTitle}">제목</div>
            <div class="post-info">
                <div><span th:text="${boardDetail.userId}">유저ID</span> | <span th:text="${boardDetail.postDatetime}">날짜시간</span></div>
                <div>조회수 2</div>
            </div>
        </div>

        <!-- 게시글 내용 영역 -->
        <div class="communityPost-content-section" th:utext="${boardDetail.postContent}">
            <p>안된거라고</p>
        </div>

        <!-- 버튼 영역: rightarea는 작성자일경우 보이도록 -->
        <div class="communityPost-btn-section">
            <div class="communityPost-btn-leftarea">
                <button type="button" class="community-btn community-list-btn" onclick="location.href='/community/list'">목록</button>
                <button type="button" class="community-btn community-report-btn">신고</button>
            </div>
            <div class="communityPost-btn-rightarea">
                <button type="button" class="community-btn community-edit-btn" onclick="location.href='/community/edit'">수정</button>
                <button type="button" class="community-btn community-delete-btn">삭제</button>
            </div>
            
        </div>

        <!-- 댓글 리스트 영역 -->
        <div class="communityPost-comment-section-title">
            <p>전체댓글&nbsp;</p><p class="count-comment">3</p>
        </div>
        <div class="communityPost-comment-section">
            <div class="comment-item">
                <div class="comment-info">
                    <span class="comment-author">user2</span>
                    <span class="comment-date">2024.10.17 14:23</span>
                </div>
                <div class="comment-content">저도 관심있습니다!<br>언제 만날까요?</div>
                <button type="button" class="commuity-btn community-reply-btn">답글</button>
            </div>
            <div class="reply-item">
                <div class="comment-author"><img src="/img/community/reply-arrow.png" alt="답글아이콘">글쓴이</div>
                <div class="comment-date">2024.10.17 14:23</div>
                <div class="comment-content">
                    <span>user2</span>
                    <span>
                        카카오톡 링크 전달 드릴게요!<br>잠시만 기다려 주세요~
                    </span>
                </div>
            </div>
            <div class="reply-item">
                <div class="comment-author"><img src="/img/community/reply-arrow.png" alt="답글아이콘">user2</div>
                <div class="comment-date">2024.10.17 14:23</div>
                <div class="comment-content">
                    <span>글쓴이</span>
                    <span>
                        네 감사합니다~
                    </span>
                </div>
            </div>
            <div class="comment-item deleted-comment">
                <div class="comment-content">삭제된 댓글입니다.</div>
            </div>
            <div class="reply-item">
                <div class="comment-author"><img src="/img/community/reply-arrow.png" alt="답글아이콘">글쓴이</div>
                <div class="comment-date">2024.10.17 14:23</div>
                <div class="comment-content">
                    <span>글쓴이</span>
                    <span>
                        네 감사합니다~
                    </span>
                </div>
            </div>
        </div>

        

        <!-- 댓글 작성 영역 -->
        <div class="communityPost-addComment-section">
            <input type="hidden" th:value="${boardDetail.postNo}" id="postNo">
            <input type="text" class="community-btn community-comment-input" placeholder="댓글 등록">
            <button type="button" class="community-btn community-submit-btn" onclick="insertParentReply();">등록</button>
        </div>
    </div>

    <script src="/js/community/communityPost.js"></script>

    <div th:insert="~{common/footer}"></div>
</body>
</html>