<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>EX-SITE - 커뮤니티 게시글 상세 조회 페이지</title>
<link rel="stylesheet" href="/css/community/communityPost.css">
</head>
<body>
    <div th:insert="~{common/header}"></div>

    <div class="communityPost-container">
        
        <!-- 게시글 제목 및 정보 영역 -->
        <div class="communityPost-title-section">
            <div class="post-title">전시회 소개_베스트 작품 목록</div>
            <div class="post-info">
                <div>user1 | 2024.10.17 14:00</div>
                <div>조회수 2</div>
            </div>
        </div>

        <!-- 게시글 내용 영역 -->
        <div class="communityPost-content-section">
            <p>전시를 좋아해서 자주 가는 편인데 요즘 새로운 작품을 찾아서 다니려니 재미있기도 하고 돈이 들어가서 부담되더라고요 ㅠㅠ<br>같이 가실 분 있나 궁금하기도 하고요 :)</p>
        </div>

        <!-- 버튼 영역: rightarea는 작성자일경우 보이도록 -->
        <div class="communityPost-btn-section">
            <div class="communityPost-btn-leftarea">
                <button type="button" class="community-btn community-list-btn" onclick="location.href='/communityList'">목록</button>
                <button type="button" class="community-btn community-report-btn">신고</button>
            </div>
            <div class="communityPost-btn-rightarea">
                <button type="button" class="community-btn community-edit-btn" onclick="location.href='/communityEdit'">수정</button>
                <button type="button" class="community-btn community-delete-btn">삭제</button>
            </div>
            
        </div>

        <!-- 댓글 리스트 영역 -->
        <div class="communityPost-comment-section-title">
            <p>전체댓글&nbsp;</p><p class="count-comment">3</p>
        </div>
        <div class="communityPost-comment-section">
            <div class="comment-item">
                <div class="comment-info">
                    <span class="comment-author">user2</span>
                    <span class="comment-date">2024.10.17 14:23</span>
                </div>
                <div class="comment-content">저도 관심있습니다!<br>언제 만날까요?</div>
                <button type="button" class="commuity-btn community-reply-btn">답글</button>
            </div>
            <div class="reply-item">
                <div class="comment-author"><img src="/img/community/reply-arrow.png" alt="답글아이콘">글쓴이</div>
                <div class="comment-date">2024.10.17 14:23</div>
                <div class="comment-content">
                    <span>user2</span>
                    <span>
                        카카오톡 링크 전달 드릴게요!<br>잠시만 기다려 주세요~
                    </span>
                </div>
            </div>
            <div class="reply-item">
                <div class="comment-author"><img src="/img/community/reply-arrow.png" alt="답글아이콘">user2</div>
                <div class="comment-date">2024.10.17 14:23</div>
                <div class="comment-content">
                    <span>글쓴이</span>
                    <span>
                        네 감사합니다~
                    </span>
                </div>
            </div>
            <div class="comment-item deleted-comment">
                <div class="comment-content">삭제된 댓글입니다.</div>
            </div>
            <div class="reply-item">
                <div class="comment-author"><img src="/img/community/reply-arrow.png" alt="답글아이콘">글쓴이</div>
                <div class="comment-date">2024.10.17 14:23</div>
                <div class="comment-content">
                    <span>글쓴이</span>
                    <span>
                        네 감사합니다~
                    </span>
                </div>
            </div>
        </div>

        <!-- 댓글 작성 영역 -->
        <div class="communityPost-addComment-section">
            <input type="text" class="community-btn community-comment-input" placeholder="댓글 등록">
            <button type="button" class="community-btn community-submit-btn">등록</button>
        </div>
    </div>

    <div th:insert="~{common/footer}"></div>
</body>
</html>