<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>EX-SITE</title>

<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" href="/css/community/communityList.css">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>


</head>
<body>
    <div th:insert="~{common/header}"></div>

    <div class="community-container">
        <!-- 카테고리 네비게이션 영역 -->
        <div class="community-category-nav-section">
            <div><button class="community-category-nav" type="button" data-category="전체">전체</button></div>
            <div><button class="community-category-nav" type="button" data-category="정보공유">정보 공유</button></div>
            <div><button class="community-category-nav" type="button" data-category="기대평">기대평</button></div>
            <div><button class="community-category-nav" type="button" data-category="동행구인">동행 구인</button></div>
            <div><button class="community-category-nav" type="button" data-category="잡담">잡담</button></div>
        </div>

        <!-- 글쓰기버튼 영역 -->
        <div class="community-write-area">
            <a class="community-write-botton" href="/community/write">글쓰기</a>
        </div>

        <!-- 게시판 목록 테이블 영역 -->
        <div class="community-list-section">
            <table border="1">
                <thead>
                    <tr>
                        <th>글번호</th>
                        <th>카테고리</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>조회수</th>
                    </tr>
                </thead>
                <tbody class="community-notification">
                    <tr>
                        <td>공지</td>
                        <td></td>
                        <td>
                            <a href="/community/post">커뮤니티 게시판 게시글 작성 유의 사항 공지입니다.</a>
                        </td>
                        <td>관리자</td>
                        <td>2024-10-16</td>
                        <td>1</td>
                    </tr>
                </tbody>
                <tbody class="community-content-list">
                    <tr>
                        <td>5</td>
                        <td><span>정보 공유</span></td>
                        <td>
                            <a href="/community/post">17일부터 티켓예매 오픈런입니다 12시부터니까 까먹지들 마셈</a>
                        </td>
                        <td>TEST123</td>
                        <td>2024-10-29</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><span>정보 공유</span></td>
                        <td>
                            <a href="/community/post">17일부터 티켓예매 오픈런입니다 12시부터니까 까먹지들 마셈</a>
                        </td>
                        <td>TEST123</td>
                        <td>2024-10-29</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><span>정보 공유</span></td>
                        <td>
                            <a href="/community/post">17일부터 티켓예매 오픈런입니다 12시부터니까 까먹지들 마셈</a>
                        </td>
                        <td>TEST123</td>
                        <td>2024-10-29</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><span>정보 공유</span></td>
                        <td>
                            <a href="/community/post">17일부터 티켓예매 오픈런입니다 12시부터니까 까먹지들 마셈</a>
                        </td>
                        <td>TEST123</td>
                        <td>2024-10-29</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><span>정보 공유</span></td>
                        <td>
                            <a href="/community/post">17일부터 티켓예매 오픈런입니다 12시부터니까 까먹지들 마셈</a>
                        </td>
                        <td>TEST123</td>
                        <td>2024-10-29</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><span>정보 공유</span></td>
                        <td>
                            <a href="/community/post">17일부터 티켓예매 오픈런입니다 12시부터니까 까먹지들 마셈</a>
                        </td>
                        <td>TEST123</td>
                        <td>2024-10-29</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><span>정보 공유</span></td>
                        <td>
                            <a href="/community/post">17일부터 티켓예매 오픈런입니다 12시부터니까 까먹지들 마셈</a>
                        </td>
                        <td>TEST123</td>
                        <td>2024-10-29</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><span>정보 공유</span></td>
                        <td>
                            <a href="/community/post">17일부터 티켓예매 오픈런입니다 12시부터니까 까먹지들 마셈</a>
                        </td>
                        <td>TEST123</td>
                        <td>2024-10-29</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><span>정보 공유</span></td>
                        <td>
                            <a href="/community/post">17일부터 티켓예매 오픈런입니다 12시부터니까 까먹지들 마셈</a>
                        </td>
                        <td>TEST123</td>
                        <td>2024-10-29</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><span>정보 공유</span></td>
                        <td>
                            <a href="/community/post">17일부터 티켓예매 오픈런입니다 12시부터니까 까먹지들 마셈</a>
                        </td>
                        <td>TEST123</td>
                        <td>2024-10-29</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><span>정보 공유</span></td>
                        <td>
                            <a href="/community/post">17일부터 티켓예매 오픈런입니다 12시부터니까 까먹지들 마셈</a>
                        </td>
                        <td>TEST123</td>
                        <td>2024-10-29</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><span>정보 공유</span></td>
                        <td>
                            <a href="/community/post">17일부터 티켓예매 오픈런입니다 12시부터니까 까먹지들 마셈</a>
                        </td>
                        <td>TEST123</td>
                        <td>2024-10-29</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><span>정보 공유</span></td>
                        <td>
                            <a href="/community/post">17일부터 티켓예매 오픈런입니다 12시부터니까 까먹지들 마셈</a>
                        </td>
                        <td>TEST123</td>
                        <td>2024-10-29</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><span>정보 공유</span></td>
                        <td>
                            <a href="/community/post">17일부터 티켓예매 오픈런입니다 12시부터니까 까먹지들 마셈</a>
                        </td>
                        <td>TEST123</td>
                        <td>2024-10-29</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><span>정보 공유</span></td>
                        <td>
                            <a href="/community/post">17일부터 티켓예매 오픈런입니다 12시부터니까 까먹지들 마셈</a>
                        </td>
                        <td>TEST123</td>
                        <td>2024-10-29</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a id="page-prev" class="page-link" href="#" tabindex="-1" aria-disabled="true"><img src="/img/common/pagenation_arrow_left.png" alt=""></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item"><a class="page-link" href="#">6</a></li>
              <li class="page-item"><a class="page-link" href="#">7</a></li>
              <li class="page-item"><a class="page-link" href="#">8</a></li>
              <li class="page-item"><a class="page-link" href="#">9</a></li>
              <li class="page-item"><a class="page-link" href="#">10</a></li>
              <li class="page-item">
                <a id="page-next" class="page-link" href="#"><img src="/img/common/pagenation_arrow_right.png" alt=""></a>
              </li>
            </ul>
        </nav>

    </div>

    <div th:insert="~{common/footer}"></div>

    <script src="/js/community/communityList.js"></script>
</body>
</html>